<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-5 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">Marcas</h1>

							<ul class="breadcrumb breadcrumb-separatorless fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/products/brands']" class="text-muted text-hover-primary"> Marcas </a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary fw-600">Nueva marca</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3"></div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container">
		
						<div class="card mb-10">
							<!--begin::Card header-->
							<div class="card-header" style="background-color: #f1f5f9;">
								<!--begin::Heading-->
								<h4 class="card-title m-0 d-flex flex-column">
									<span class="fs-5 fw-600">Nuevo Marca</span>
									<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat..
									</span>
								</h4>
								<!--end::Heading-->
							</div>
							<!--end::Card header-->

							<!--begin::Card body-->
							<div class="card-body">
								<div class="row">
                                    <div class="col-lg-5">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Nombre</label>
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.name" (click)="showErrors.name = !showErrors.name">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.name ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

                                            <input type="text" 
                                            class="form-control mb-1" 
                                            placeholder="The North Face"
                                            name="name" 
                                            [(ngModel)]="brand.name"
                                            [ngClass]="{'is-invalid': errorsBrand?.name}">

                                            <span class="fs-8 text-muted">Nombre de la marca.</span>

											<div class="validation-wrapper" [class.open]="showErrors.name">
												<app-validation-popover 
												[errors]="errorsBrand?.name"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
									<div class="col-lg-3">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Prefijo</label>
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.prefix" (click)="showErrors.prefix = !showErrors.prefix">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.prefix ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

                                            <input type="text" 
											class="form-control mb-1" 
											placeholder="AZ"
											name="prefix" 
											[(ngModel)]="brand.prefix"
											[ngClass]="{'is-invalid': errorsBrand?.prefix}"
											[imask]="prefixMask">

                                            <span class="fs-8 text-muted">Dos caracteres representativos.</span>

											<div class="validation-wrapper" [class.open]="showErrors.prefix">
												<app-validation-popover 
												[errors]="errorsBrand?.prefix"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
									<div class="col-lg-4">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">País de origen</label>
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.country" (click)="showErrors.country = !showErrors.country">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.country ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

                                            <div [ngClass]="{ 'is-invalid': errorsBrand?.country }">
												<ng-select
													[items]="countries"
													bindLabel="country"
													[(ngModel)]="brand.country"
													placeholder="Selecciona un país"
													[clearable]="false"
													appendTo="body"
													class="select-element mb-1"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<img [src]="item.flag" width="20" height="15" style="margin-right: 8px" />
														{{ item.name }}
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<img [src]="item.flag" width="20" height="15" style="margin-right: 8px" />
														{{ item.name }}
													</ng-template>
												</ng-select>
											</div>

                                            <span class="fs-8 text-muted">País de la marca.</span>

											<div class="validation-wrapper" [class.open]="showErrors.country">
												<app-validation-popover 
												[errors]="errorsBrand?.country"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-lg-12">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">  
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="fw-500 text-gray-700 fs-6 mb-1">Sitio Web</label>
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.websiteUrl" (click)="showErrors.websiteUrl = !showErrors.websiteUrl">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.websiteUrl ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

                                            <input
												type="text"
												class="form-control mb-1 text-primary"
												placeholder="https://www.thenorthface.com"
												name="websiteUrl"
												[(ngModel)]="brand.websiteUrl"
												[ngClass]="{ 'is-invalid': errorsBrand?.websiteUrl }"
											/>

                                            <span class="fs-8 text-muted">Enlace web de la marca.</span>

											<div class="validation-wrapper" [class.open]="showErrors.websiteUrl">
												<app-validation-popover 
												[errors]="errorsBrand?.websiteUrl"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-lg-12">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="fw-500 text-gray-700 fs-6 mb-1">Descripción</label>
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.description" (click)="showErrors.description = !showErrors.description">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.description ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

                                            <textarea
												type="text"
												class="form-control mb-1"
												placeholder="Descripción de la marca"
												name="description"
												[(ngModel)]="brand.description"
												[ngClass]="{ 'is-invalid': errorsBrand?.description }"
												textAreaAutoResize
                								rows="3"
											></textarea>

                                            <span class="fs-8 text-muted">Descripción de la marca.</span>

											<div class="validation-wrapper" [class.open]="showErrors.description">
												<app-validation-popover 
												[errors]="errorsBrand?.description"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Logo</label>
											
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.logoUrl.length >= 1" (click)="showErrors.logoUrl = !showErrors.logoUrl">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.logoUrl ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>


                                            <div class="mb-1">
												<app-upload-image
													(fileSelected)="brand.logoUrl = $event ? $event : undefined"
													(validationError)="setErrorLogo($event)"
													[aspectMode]="'square'"
													[inputId]="'logoUrl'"
													[hasError]="errorsBrand?.logoUrl[0]"
												></app-upload-image>
											</div>

                                            <span class="fs-8 text-muted">Logo de la marca en 1:1.</span>

											<div class="validation-wrapper" [class.open]="showErrors.logoUrl">
												<app-validation-popover 
												[errors]="errorsBrand?.logoUrl"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
									<div class="col-lg-6">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                             <div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Banner</label>
												<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsBrand?.bannerUrl.length >= 1" (click)="showErrors.bannerUrl = !showErrors.bannerUrl">
													<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
													{{ showErrors.bannerUrl ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

                                            <div class="mb-1">
												<app-upload-image
													(fileSelected)="brand.bannerUrl = $event ? $event : undefined"
													(validationError)="setErrorBanner($event)"
													[aspectMode]="'rectangle'"
													[inputId]="'bannerUrl'"
													[hasError]="errorsBrand?.bannerUrl[0]"
												></app-upload-image>
											</div>

                                            <span class="fs-8 text-muted">Banner horizontal en 2:1.</span>

											<div class="validation-wrapper" [class.open]="showErrors.bannerUrl">
												<app-validation-popover 
												[errors]="errorsBrand?.bannerUrl"></app-validation-popover>
											</div>
                                        </div>
                                    </div>
                                </div>
							</div>

							<!--end::Card body-->
							<div class="card-footer" style="background-color: #f1f5f9;">
								<a
									*ngIf="!loadBtn"
									class="btn btn-sm btn-primary my-1 cursor-pointer d-inline-flex align-items-center gap-1"
									(click)="create()"
								>
									<i class="bi bi-award"></i>
									Crear marca
								</a>

								<button
									*ngIf="loadBtn"
									class="btn btn-sm btn-primary my-1 cursor-pointer d-inline-flex align-items-center"
									type="button"
									disabled
								>
									<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
									<span role="status">Procesando...</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
