<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-5 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Marcas</h1>

							<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/products/brands']" class="text-muted text-hover-primary"> Marcas </a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary">Nueva marca</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3"></div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container">
					
						<app-alert *ngIf="msmErrorBrand.length >= 1" [classAlert]="'bg-light-danger border-danger border-dashed mb-7'"
						[title]="'¡Errores de Validación!'"
						[description]="errorsBrand"
						[type]="'errors'"
						[classIcon]="'svg-icon-danger'">
						</app-alert>

						<div class="card mb-10">
							<!--begin::Card header-->
							<div class="card-header" style="background-color: #f8f8f8;">
								<!--begin::Heading-->
								<h4 class="card-title m-0 d-flex flex-column">
									<span class="fs-5 fw-600">Nuevo Marca</span>
									<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat..
									</span>
								</h4>
								<!--end::Heading-->
							</div>
							<!--end::Card header-->

							<!--begin::Card body-->
							<div class="card-body">
								<div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Nombre</span>
                                            </label>
                                            <!--end::Label-->

                                            <input type="text" 
                                            class="form-control mb-1" 
                                            placeholder="The North Face"
                                            name="name" 
                                            [(ngModel)]="brand.name"
                                            [ngClass]="{'is-invalid': errorsBrand?.name}">

                                            <span class="fs-8 text-muted">Nombre de la marca.</span>
                                        </div>
                                    </div>
									<div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">País de origen</span>
                                            </label>
                                            <!--end::Label-->

                                            <div [ngClass]="{ 'is-invalid': errorsBrand?.country }">
												<ng-select
													[items]="countries"
													bindLabel="country"
													[(ngModel)]="brand.country"
													placeholder="Selecciona un país"
													[clearable]="false"
													appendTo="body"
													class="select-element mb-1"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<img [src]="item.flag" width="20" height="15" style="margin-right: 8px" />
														{{ item.name }}
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<img [src]="item.flag" width="20" height="15" style="margin-right: 8px" />
														{{ item.name }}
													</ng-template>
												</ng-select>
											</div>

                                            <span class="fs-8 text-muted">País de la marca.</span>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-lg-12">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">URL de la marca</span>
                                            </label>
                                            <!--end::Label-->

                                            <input
												type="text"
												class="form-control mb-1"
												placeholder="https://www.thenorthface.com"
												name="websiteUrl"
												[(ngModel)]="brand.websiteUrl"
												[ngClass]="{ 'is-invalid': errorsBrand?.websiteUrl }"
											/>

                                            <span class="fs-8 text-muted">Enlace web de la marca.</span>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-lg-12">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Descripción</span>
                                            </label>
                                            <!--end::Label-->

                                            <textarea
												type="text"
												class="form-control mb-1"
												placeholder="Descripción de la marca"
												name="description"
												[(ngModel)]="brand.description"
												[ngClass]="{ 'is-invalid': errorsBrand?.description }"
											></textarea>

                                            <span class="fs-8 text-muted">Descripción de la categoría.</span>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Logo</span>
                                            </label>
                                            <!--end::Label-->

                                            <div class="mb-1">
												<app-upload-image
													(fileSelected)="brand.logoUrl = $event ? $event : undefined"
													(validationError)="errorsBrand.logoUrl[0] = $event ?? ''"
													[aspectMode]="'square'"
													[inputId]="'logoUrl'"
													[hasError]="errorsBrand?.logoUrl[0]"
												></app-upload-image>
											</div>

                                            <span class="fs-8 text-muted">Logo de la marca en 1:1.</span>
                                        </div>
                                    </div>
									<div class="col-lg-6">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Banner</span>
                                            </label>
                                            <!--end::Label-->

                                            <div class="mb-1">
												<app-upload-image
													(fileSelected)="brand.bannerUrl = $event ? $event : undefined"
													(validationError)="errorsBrand.bannerUrl[0] = $event ?? ''"
													[aspectMode]="'rectangle'"
													[inputId]="'bannerUrl'"
													[hasError]="errorsBrand?.bannerUrl[0]"
												></app-upload-image>
											</div>

                                            <span class="fs-8 text-muted">Banner horizontal en 2:1.</span>
                                        </div>
                                    </div>
                                </div>
							</div>

							<!--end::Card body-->
							<div class="card-footer" style="background-color: #f8f8f8;">
								<a *ngIf="!loadBtn" class="btn btn-sm btn-primary my-1 cursor-pointer" (click)="create()"> Crear marca </a>
								<button *ngIf="loadBtn" class="btn btn-sm btn-primary my-1 cursor-pointer" type="button" disabled>
									<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
									<span role="status">Procesando...</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
