<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-5 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">Categorías</h1>

							<ul class="breadcrumb breadcrumb-separatorless fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/products/categories']" class="text-muted text-hover-primary">Categorías</a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary fw-600">Nuevo categoría</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3"></div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container">
						<div class="card mb-10">
							<!--begin::Card header-->
							<div class="card-header" style="background-color: #f1f5f9">
								<!--begin::Heading-->
								<h4 class="card-title m-0 d-flex flex-column">
									<span class="fs-5 fw-600">Nuevo Categoría</span>
									<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat..</span>
								</h4>
								<!--end::Heading-->
							</div>
							<!--end::Card header-->
							<!--begin::Card body-->
							<div class="card-body">
								<!--begin::Table wrapper-->
								<div class="row">
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Nombre</label>
												<small
													class="text-danger cursor-pointer d-flex align-items-center gap-1"
													*ngIf="validationCategoryError?.name"
													(click)="fieldErrors.name = !fieldErrors.name"
												>
													<ion-icon name="information-circle-outline" class="validation-icon"></ion-icon>
													{{ fieldErrors.name ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

											<input
												type="text"
												class="form-control mb-1"
												placeholder="Computers & Accessories"
												name="name"
												[(ngModel)]="category.name"
												[ngClass]="{ 'is-invalid': validationCategoryError?.name }"
											/>

											<span class="fs-8 text-muted">Título de la categoría.</span>

											<div class="validation-wrapper" [class.open]="fieldErrors.name">
												<app-validation-popover [errors]="validationCategoryError?.name"></app-validation-popover>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Prefijo</label>
												<small
													class="text-danger cursor-pointer d-flex align-items-center gap-1"
													*ngIf="validationCategoryError?.prefix"
													(click)="fieldErrors.prefix = !fieldErrors.prefix"
												>
													<ion-icon name="information-circle-outline" class="validation-icon"></ion-icon>
													{{ fieldErrors.prefix ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

											<input
												type="text"
												class="form-control mb-1"
												placeholder="AZ"
												name="prefix"
												[(ngModel)]="category.prefix"
												[ngClass]="{ 'is-invalid': validationCategoryError?.prefix }"
												[imask]="prefixMask"
											/>

											<span class="fs-8 text-muted">Dos caracteres representativos.</span>

											<div class="validation-wrapper" [class.open]="fieldErrors.prefix">
												<app-validation-popover [errors]="validationCategoryError?.prefix"></app-validation-popover>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="required fw-500 text-gray-700 fs-6 mb-1">Descripción</label>
												<small
													class="text-danger cursor-pointer d-flex align-items-center gap-1"
													*ngIf="validationCategoryError?.description"
													(click)="fieldErrors.description = !fieldErrors.description"
												>
													<ion-icon name="information-circle-outline" class="validation-icon"></ion-icon>
													{{ fieldErrors.description ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

											<textarea
												type="text"
												class="form-control mb-1"
												placeholder="Descripción de la categoría"
												name="description"
												[(ngModel)]="category.description"
												[ngClass]="{ 'is-invalid': validationCategoryError?.description }"
												textAreaAutoResize
												rows="3"
											></textarea>

											<span class="fs-8 text-muted">Descripción de la categoría.</span>

											<div class="validation-wrapper" [class.open]="fieldErrors.description">
												<app-validation-popover [errors]="validationCategoryError?.description"></app-validation-popover>
											</div>
										</div>
									</div>
								</div>
								<div class="row mb-5">
									<div class="col-lg-12">
										<div class="d-flex flex-column fv-row fv-plugins-icon-container">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<label class="fw-500 text-gray-700 fs-6 mb-1">Icono</label>
												<small
													class="text-danger cursor-pointer d-flex align-items-center gap-1"
													*ngIf="validationCategoryError?.icon"
													(click)="fieldErrors.icon = !fieldErrors.icon"
												>
													<ion-icon name="information-circle-outline" class="validation-icon"></ion-icon>
													{{ fieldErrors.icon ? 'Ocultar errores' : 'Ver errores' }}
												</small>
											</div>

											<app-input-svg [errors]="validationCategoryError" [data]="category"></app-input-svg>

											<span class="fs-8 text-muted">Icono visible en la tienda.</span>

											<div class="validation-wrapper" [class.open]="fieldErrors.icon">
												<app-validation-popover [errors]="validationCategoryError?.icon"></app-validation-popover>
											</div>
										</div>
									</div>
								</div>
								<!--end::Table wrapper-->

								<div class="row">
									<div class="col-lg-12 my-3">
										<h4 class="mb-0">Configuraciones</h4>
										<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">Activa los bloques de información que se mostrarán durante la creación del producto.</span>
									</div>
									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isDimensions" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">Dimensiones</span>
												<small class="d-block lh-sm">Registra alto, ancho, largo, peso y otras medidas físicas importantes del producto.</small>
											</span>
										</label>

										<div class="validation-wrapper" [class.open]="fieldErrors.isDimensions">
											<app-validation-popover [errors]="validationCategoryError?.isDimensions"></app-validation-popover>
										</div>
									</div>

									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isCharacteristics" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">Características</span>
												<small class="d-block lh-sm">Agrega funciones, ventajas, detalles técnicos y atributos principales del producto.</small>
											</span>
										</label>
										<div class="validation-wrapper" [class.open]="fieldErrors.isCharacteristics">
											<app-validation-popover [errors]="validationCategoryError?.isCharacteristics"></app-validation-popover>
										</div>
									</div>

									<div class="col-12">
										<div class="separator separator-dashed"></div>
									</div>

									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isConditiom" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">Condición</span>
												<small class="d-block lh-sm">Indica si el producto es nuevo, usado o se encuentra reacondicionado.</small>
											</span>
										</label>
										<div class="validation-wrapper" [class.open]="fieldErrors.isConditiom">
											<app-validation-popover [errors]="validationCategoryError?.isConditiom"></app-validation-popover>
										</div>
									</div>

									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isWarranty" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">Garantía</span>
												<small class="d-block lh-sm">Define tiempo de cobertura, tipo de garantía y condiciones aplicables.</small>
											</span>
										</label>
										<div class="validation-wrapper" [class.open]="fieldErrors.isWarranty">
											<app-validation-popover [errors]="validationCategoryError?.isWarranty"></app-validation-popover>
										</div>
									</div>

									<div class="col-12">
										<div class="separator separator-dashed"></div>
									</div>

									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isCountryOfOrigin" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">País de origen</span>
												<small class="d-block lh-sm">Indica el país donde fue fabricado, producido o ensamblado el producto.</small>
											</span>
										</label>
										<div class="validation-wrapper" [class.open]="fieldErrors.isCountryOfOrigin">
											<app-validation-popover [errors]="validationCategoryError?.isCountryOfOrigin"></app-validation-popover>
										</div>
									</div>

									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isMaterial" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">Material principal</span>
												<small class="d-block lh-sm">Especifica el material predominante utilizado en su fabricación.</small>
											</span>
										</label>

										<div class="validation-wrapper" [class.open]="fieldErrors.isMaterial">
											<app-validation-popover [errors]="validationCategoryError?.isMaterial"></app-validation-popover>
										</div>
									</div>

									<div class="col-12">
										<div class="separator separator-dashed"></div>
									</div>

									<div class="col-12 col-md-6 py-4">
										<label class="form-check form-check-custom form-check-solid align-items-start">
											<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isTemperature" />
											<span class="form-check-label d-flex flex-column align-items-start">
												<span class="fw-500 text-gray-700 fs-6 mb-1">Temperatura</span>
												<small class="d-block lh-sm">Indica el rango ideal para uso, conservación o almacenaje.</small>
											</span>
										</label>

										<div class="validation-wrapper" [class.open]="fieldErrors.isTemperature">
											<app-validation-popover [errors]="validationCategoryError?.isTemperature"></app-validation-popover>
										</div>
									</div>
								</div>
							</div>

							<!--end::Card body-->
							<div class="card-footer" style="background-color: #f1f5f9">
								<a *ngIf="!isCreateCategoryLoading" class="btn btn-sm btn-primary my-1 cursor-pointer d-inline-flex align-items-center gap-1" (click)="create()">
									<i class="bi bi-folder-plus"></i>
									Crear categoría
								</a>

								<button *ngIf="isCreateCategoryLoading" class="btn btn-sm btn-primary my-1 cursor-pointer d-inline-flex align-items-center" type="button" disabled>
									<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
									<span role="status">Procesando...</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
