{
	"semi": true,
	"singleQuote": true,
	"printWidth": 180,
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "ignore"
}
