<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Colaboradores</h1>

							<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-primary">Colaboradores</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3">
							<a [routerLink]="['/users/collaborators/create']" routerLinkActive="router-link-active" class="btn btn-sm fw-bold btn-primary">
								Nuevo Colaborador
							</a>
						</div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container-fluid">
						<div class="row g-3 g-lg-4">
							<div class="col-12">
								<div class="d-flex justify-content-between align-items-center flex-nowrap gap-2 mt-5">
									<div class="d-flex gap-2">
										<div>
											<label class="fs-7 text-gray-600 fw-500">Busqueda</label>
											<div class="d-flex align-items-center position-relative">
												<input
													type="text"
													class="form-control form-control-sm w-200px"
													placeholder="Buscar colaborador"
													name="filter"
													[(ngModel)]="filter"
													(keyup.ENTER)="onFilterOrStatusChange()"
												/>
												<i class="bi bi-search position-absolute cursor-pointer" style="right: 20px" (click)="onFilterOrStatusChange()"></i>
											</div>
										</div>
										<div>
											<label class="fs-7 text-gray-600 fw-500">Estado</label>
											<ng-select
												[items]="statusTable"
												bindLabel="name"
												bindValue="value"
												name="status"
												(change)="onFilterOrStatusChange()"
												[(ngModel)]="status"
												placeholder="Estado"
												[clearable]="false"
												[closeOnSelect]="true"
												class="select-element-sm mb-1"
												appendTo="body"
												[searchable]="false"
											>
												<!-- Opción en el dropdown -->
												<ng-template ng-option-tmp let-item="item">
													<div class="d-flex align-items-center gap-2">
													<span class="bullet bullet-dot h-10px w-10px" [ngClass]="'bg-' + item.color"></span>
													<span>{{ item.name }}</span>
													</div>
												</ng-template>

												<!-- Opción seleccionada en el input -->
												<ng-template ng-label-tmp let-item="item">
													<div class="d-flex align-items-center gap-2">
													<span class="bullet bullet-dot h-10px w-10px" [ngClass]="'bg-' + item.color"></span>
													<span>{{ item.name }}</span>
													</div>
												</ng-template>
											</ng-select>
										</div>
										
										<div>
											<label class="fs-7 text-gray-600 fw-500">Orden</label>
											<ng-select
												[items]="sortColumns"
												bindLabel="name"
												bindValue="value"
												name="sort"
												(change)="onFilterOrStatusChange()"
												[(ngModel)]="sort"
												placeholder="Orden"
												[clearable]="false"
												[closeOnSelect]="true"
												class="select-element-sm mb-1"
												appendTo="body"
												[searchable]="false"
											>
												<!-- Opción en el dropdown -->
												<ng-template ng-option-tmp let-item="item">
													<div class="d-flex align-items-center gap-2">
														<i [class]="item.icon"></i>
														<span>{{ item.name }}</span>
													</div>
												</ng-template>

												<!-- Opción seleccionada en el input -->
												<ng-template ng-label-tmp let-item="item">
													<div class="d-flex align-items-center gap-2">
													<i [class]="item.icon"></i>
													<span>{{ item.name }}</span>
													</div>
												</ng-template>
											</ng-select>
										</div>
									</div>
									<div class="dropdown">
										<button
											class="btn btn-primary btn-sm dropdown-toggle my-1"
											type="button"
											id="dropdownMenuButton"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											<i class="bi bi-sliders"></i> Opciones
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li>
												<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#modalExport'">
													<i class="bi bi-filetype-xls me-2"></i> Exportar XLS
												</a>
											</li>
											<li>
												<hr class="dropdown-divider" />
											</li>
											<li>
												<a class="dropdown-item" href="#"> <i class="bi bi-folder-symlink me-2"></i> Importar </a>
											</li>
										</ul>
									</div>
								</div>

								<small class="text-primary cursor-pointer" (click)="resetFilters()">Restablecer Filtros</small>

								<div class="table-responsive my-7">
									<table class="table table-bordered table-fixed modern-table mb-0" 
									[ngClass]="{
									'h-100': collaborators.length == 0 && !loading,
									'table-hover': collaborators.length >= 1,
									}">
										<colgroup>
											<col *ngFor="let col of columns" [ngClass]="col.classCol">
											<col style="width: 38px">
										</colgroup>
										<thead style="background-color: #f8f8f8;">
											<tr>
												<th
													*ngFor="let col of columns">
													<div class="d-flex justify-content-between align-items-center">
														<span class="text-dark fw-600 fs-7 text-uppercase">{{ col.label }}</span>
													</div>
												</th>
												<th>
												</th>
											</tr>
										</thead>

										<tbody>
											<!-- ======================= LOADING (SKELETON) ======================= -->
											<ng-container *ngIf="loading">
												<tr *ngFor="let s of arrDataSkull">
													<td class="col-w-xs-200 col-w-md-250 h-45px">
														<div class="d-flex align-items-center gap-2">
															<div class="form-control-solid form-control-load" style="width: 32px; height: 32px; border-radius: 5px"></div>

															<div class="d-flex flex-column gap-2" style="width: 100%; max-width: 250px">
																<div class="form-control-solid form-control-load" style="height: 10px; width: 60%; border-radius: 3px"></div>
																<div class="form-control-solid form-control-load" style="height: 9px; width: 40%; border-radius: 3px"></div>
															</div>
														</div>
													</td>

													<td class="col-w-xs-100 h-45px">
														<div class="form-control-solid form-control-load" style="height: 13px; width: 80%; border-radius: 3px"></div>
													</td>

													<td class="col-w-xs-100 h-45px">
														<div class="form-control-solid form-control-load" style="height: 13px; width: 80%; border-radius: 3px"></div>
													</td>

													<td class="col-w-xs-100 h-45px">
														<div class="form-control-solid form-control-load" style="height: 20px; width: 70px; border-radius: 50rem"></div>
													</td>

													<td class="col-actions h-45px">
														<div class="form-control-solid form-control-load" style="height: 30px; width: 35px; border-radius: 5px"></div>
													</td>
												</tr>
											</ng-container>

											<!-- ======================= DATOS ======================= -->
											<ng-container *ngIf="!loading && collaborators.length >= 1">
												<tr *ngFor="let item of collaborators">

													<td class="col-w-xs-200 col-w-md-250 h-45px">
														<div class="d-flex align-items-center gap-2">
														<div class="symbol me-3">
															<span class="symbol-label fw-bold" style="height: 30px; width: 30px"
																[ngClass]="getColorBasedOnLetter(item.names)">
															{{ item.names.charAt(0).toUpperCase() }}
															</span>
														</div>

														<div class="d-flex flex-column">
															<a class="text-decoration-none text-gray-700 fs-8 fw-700">{{ item.names }}</a>
															<small class="text-gray-700">{{ item.email }}</small>
														</div>
														</div>
													</td>

													<td class="col-w-xs-100 h-45px">
														<span class="fs-7 text-gray-700">{{ item.role ?? 'DEFAULT' }}</span>
													</td>

													<td class="col-w-xs-100 h-45px">
														<span class="fs-7 text-gray-700">{{ item.number_document }}</span>
													</td>

													<td class="col-w-xs-100 h-45px">
														<span class="badge rounded-pill text-gray-700 fw-800"
															[ngClass]="{ 'bg-outline-danger': !item.status, 'bg-outline-success': item.status }">
														<span class="d-inline-block rounded-circle me-1"
																style="width: 8px; height: 8px"
																[ngClass]="{ 'bg-danger': !item.status, 'bg-success': item.status }"></span>
														{{ item.status ? 'Activo' : 'Inactivo' }}
														</span>
													</td>

													<td class="col-actions h-45px">
														<div class="dropdown">
															<button class="icon-btn dropdown-toggle"
															data-bs-toggle="dropdown"
															aria-expanded="false">
																<i class="bi bi-three-dots"></i>
															</button>

															<app-modal-delete
																[id]="'modalDelete-' + item.id"
																[title]="item.status ? 'Desactivar el registro' : 'Activar el registro'"
																[description]="
																	item.status
																		? `¿Estás seguro de que deseas desactivar a <b>${item.names} ${item.surname}</b>?`
																		: `¿Estás seguro de que deseas activar a <b>${item.names} ${item.surname}</b>?`
																"
																[textButton]="item.status ? 'Desactivar' : 'Activar'"
																(actionConfirmed)="setStatus(item.id!, item.status!)"
																[loadBtnDelete]="loadBtnDelete"
															>
															</app-modal-delete>

															<div id="dropdown" class="dropdown-menu" data-bs-display="static">
																<a class="dropdown-item cursor-pointer" [routerLink]="['/users/collaborators/' + item?.id + '/edit']">
																	<i class="bi bi-pen me-2"></i>Editar
																</a>
																<a class="dropdown-item cursor-pointer" (click)="onSendWtpp(item)">
																	<i class="bi bi-whatsapp me-2"></i>
																	Enviar a whatsapp
																</a>
																<a class="dropdown-item cursor-pointer" (click)="onCopyClick(item)">
																	<i class="bi bi-files me-2"></i>
																	Copiar
																</a>
																<a class="dropdown-item cursor-pointer" [routerLink]="['/users/collaborators/' + item?.id + '/logs']">
																	<i class="bi bi-code me-2"></i>
																	Logs
																</a>
																<a class="dropdown-item cursor-pointer" [routerLink]="['/users/collaborators/' + item?.id + '/rols']">
																	<i class="bi bi-shield-lock me-2"></i>
																	Permisos
																</a>
																<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#modalDelete-' + item?.id">
																	<i *ngIf="item?.status" class="bi bi-x-lg me-2"></i>
																	<i *ngIf="!item?.status" class="bi bi-check2 me-2"></i>
																	{{ item?.status ? 'Desactivar' : 'Activar' }}
																</a>
															</div>
														</div>
													</td>

												</tr>
											</ng-container>

											<!-- ======================= SIN RESULTADOS ======================= -->
											<tr *ngIf="!loading && collaborators.length == 0">
												<td colspan="5">
													<app-not-found [error]="{ message: 'No se encontraron registros que coincidan.', statusCode: 404 }"></app-not-found>
												</td>
											</tr>

											<!-- ======================= ERROR ======================= -->
											<tr *ngIf="!loading && errorMsmServerListCollaborators">
												<td colspan="5">
													<app-not-found [error]="errorMsmServerListCollaborators"></app-not-found>
												</td>
											</tr>

										</tbody>

									</table>
								</div>

								<div class="d-flex justify-content-between pb-10" *ngIf="collaborators.length >= 1">
									<div class="d-flex align-items-center gap-2 text-gray-600">
										Ver
										<ng-select
											[items]="pageLimit"
											bindLabel="name"
											bindValue="value"
											name="limit"
											(change)="setLimit()"
											[(ngModel)]="limit"
											placeholder="Limite"
											[clearable]="false"
											[closeOnSelect]="true"
											class="select-element-sm mb-1"
											appendTo="body"
											[searchable]="false"
										>
											<!-- Opción en el dropdown -->
											<ng-template ng-option-tmp let-item="item">
												<div class="option-item d-flex gap-3 align-items-center">
													<div class="option-name">{{ item.name }}</div>
												</div>
											</ng-template>
											<!-- Opción seleccionada en el input -->
											<ng-template ng-label-tmp let-item="item">
												{{ item.name }}
											</ng-template>
										</ng-select>
										Por pagina
									</div>
									<div class="d-flex align-items-center gap-3">
										<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"> </app-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
