<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">Colaboradores</h1>

							<ul class="breadcrumb breadcrumb-separatorless fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-primary fw-600">Colaboradores</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-1 gap-lg-3">
							<a
								[routerLink]="['/users/collaborators/create']"
								routerLinkActive="router-link-active"
								class="btn btn-primary btn-sm d-flex align-items-center fw-semibold"
							>
								<i class="bi bi-person-plus me-2"></i>
								<span>Nuevo colaborador</span>
							</a>
						</div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container-fluid">
						<div class="row g-3 g-lg-4">
							<div class="col-12">
								<div class="d-flex justify-content-between align-items-center flex-nowrap gap-2 mt-5">
									<div class="d-flex gap-2 align-items-end">
										<div>
											<div class="d-flex align-items-center gap-2">
												<div class="position-relative">
													<input
														type="text"
														class="form-control form-control-sm w-400px pe-10"
														placeholder="Buscar colaborador"
														name="filter"
														[(ngModel)]="filter"
														(keyup.enter)="applyFilters()"
													/>

													<i
														class="bi bi-search position-absolute cursor-pointer"
														style="right: 15px; top: 50%; transform: translateY(-50%)"
														(click)="applyFilters()"
													></i>
												</div>

												<button
													type="button"
													class="btn btn-sm btn-icon btn-light-primary d-flex align-items-center justify-content-center"
													(click)="resetFilters()"
													[disabled]="isCollaboratorsLoading"
												>
													<span
														*ngIf="isCollaboratorsLoading"
														class="spinner-border spinner-border-sm"
														role="status"
														aria-hidden="true"
													></span>
													<i
														*ngIf="!isCollaboratorsLoading"
														class="bi bi-arrow-clockwise fs-5"
													></i>
												</button>
											</div>
										</div>
									</div>
									<div class="dropdown">
										<button
											class="btn btn-dark btn-sm d-flex align-items-center gap-2 my-1"
											type="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											<ion-icon name="settings-outline" class="fs-5"></ion-icon>
											<span>Opciones</span>
											<ion-icon name="chevron-down-outline" class="fs-6"></ion-icon>
										</button>
										<ul class="dropdown-menu menu-state-bg-light-primary" aria-labelledby="dropdownMenuButton">
											<li>
												<a class="dropdown-item d-flex align-items-center gap-2" 
												[routerLink]="['/users/collaborators/export']">
													<ion-icon name="document-outline"></ion-icon>
													Exportar
												</a>
											</li>
											<li>
												<a class="dropdown-item d-flex align-items-center gap-2" 
												[routerLink]="['/users/collaborators/import']" >
													<ion-icon name="folder-open-outline"></ion-icon>
													Importar
												</a>
											</li>
										</ul>
									</div>
								</div>
								
								<div class="my-7">
									<div class="filters-container">
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ESTADO</span>
												</div>
												<ng-select
													[items]="statusFilters"
													bindLabel="name"
													bindValue="value"
													name="selectedStatus"
													[(ngModel)]="selectedStatus"
													placeholder="Estado"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
															<span class="select-option">{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
															<span class="select-option">{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ORDEN</span>
												</div>
												<ng-select
													[items]="sortFilters"
													bindLabel="name"
													bindValue="value"
													name="selectedSort"
													[(ngModel)]="selectedSort"
													placeholder="Orden"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<ion-icon [name]="item.icon"></ion-icon>
															<span class="select-option">{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<ion-icon [name]="item.icon"></ion-icon>
															<span class="select-option">{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
									</div>
									<button
										class="btn btn-xs bg-light-primary my-3 d-inline-flex align-items-center gap-2"
										(click)="applyFilters()"
										[disabled]="isCollaboratorsLoading"
									>
										<ng-container *ngIf="!isCollaboratorsLoading; else loadingTpl">
											<ion-icon name="search-outline" class="fs-6 text-primary"></ion-icon>
											<span class="text-primary">Buscar</span>
										</ng-container>

										<ng-template #loadingTpl>
											<span class="spinner-border spinner-border-sm text-primary" aria-hidden="true"></span>
											<span class="text-primary">Buscando...</span>
										</ng-template>
									</button>
								</div>

								<div class="table-wrapper  mb-7">
									<table class="table custom-table align-middle mb-0">
										<thead>
											<tr>
												<th class="fixed-xs text-center p-0" style="position: unset !important;">
													<div class="dropdown">
														<button 
															class="btn btn-icon btn-dark h-25px w-25px"
															type="button"
															placement="top" 
															tooltipClass="tooltip-dark"
															container="body"
															[disabled]="!hasSelectedCollaborators"
															id="dropdownTable"
															data-bs-toggle="dropdown"
															aria-expanded="false">
															<ion-icon name="settings-outline" class="fs-5"></ion-icon>
														</button>
														<ul class="dropdown-menu menu-state-bg-light-primary" 
														aria-labelledby="dropdownTable">
															<li>
																<a class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-7"
																[class.disabled]="selectedCollaboratorsIds.size === 0"
																[attr.data-bs-toggle]="selectedCollaboratorsIds.size > 0? 'modal': null"
																[attr.data-bs-target]="selectedCollaboratorsIds.size > 0? '#modalMultipleActive': null"
																style="text-transform: capitalize !important;">
																	<ion-icon name="checkmark-circle-outline" class="text-primary"></ion-icon>
																	Activar
																</a>
															</li>
															<li>
																<a class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-7"
																[class.disabled]="selectedCollaboratorsIds.size === 0"
																[attr.data-bs-toggle]="selectedCollaboratorsIds.size > 0? 'modal': null"
																[attr.data-bs-target]="selectedCollaboratorsIds.size > 0? '#modalMultipleDisabled': null"
																style="text-transform: capitalize !important;">
																	<ion-icon name="close-circle-outline" class="text-danger"></ion-icon>
																	Desactivar
																</a>
															</li>
														</ul>
													</div>
												</th>
												<th class="flex-column">
													Usuario
												</th>
												<th class="fixed-md">
													Telefono
												</th>
												<th class="fixed-md">
													Documento
												</th>
												<th class="fixed-sm">
													Estado
												</th>
												<th class="fixed-xs text-center text-center">
													
												</th>
											</tr>
										</thead>
										<tbody>
											@if(isCollaboratorsLoading){
												<tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
													<td class="fixed-xs text-center p-0">
														<div class="skeleton skeleton-check"></div>
													</td>
													<td class="flex-col fw-medium">
														<div class="d-flex align-items-center">
															<div class="skeleton me-3" style="width:30px !important; height:30px;"></div>

															<div class="d-flex flex-column gap-2" style="width:100%; max-width:250px">
																<div class="skeleton skeleton-text" style="width:60%;"></div>
																<div class="skeleton skeleton-text" style="width:40%;"></div>
															</div>
														</div>
													</td>
													<td class="fixed-md">
														<div class="skeleton skeleton-badge"></div>
													</td>
													<td class="fixed-md">
														<div class="skeleton skeleton-badge"></div>
													</td>
													<td class="fixed-sm">
														<div class="skeleton skeleton-badge"></div>
													</td>
													<td class="fixed-xs text-center p-0">
														<div class="skeleton skeleton-btn"></div>
													</td>
												</tr>
											}@else if (collaboratorsLoadError) {
												<tr>
													<td colspan="6">
														<app-not-found [error]="collaboratorsLoadError"></app-not-found>
													</td>
												</tr>
											}@else if (collaborators.length >= 1) {
												<tr *ngFor="let item of collaborators">
													<td class="fixed-xs text-center p-0">
														<label class="form-check form-check-customs form-check-sm m-0 d-flex align-items-center justify-content-center h-100">
														<input
															class="form-check-input cursor-pointer"
															type="checkbox"
															[checked]="selectedCollaboratorsIds.has(item.id!)"
															(change)="onCollaboratorSelectionChange(item.id!, $any($event.target).checked)"
														/>
														</label>
													</td>
													<td class="flex-col fw-medium">
														<div class="d-flex align-items-center gap-2" style="min-width:0;">
															<div class="symbol me-3" style="flex-shrink:0;">
																<span class="symbol-label fw-bold"
																style="height:30px; width:30px"
																[ngClass]="getAvatarColor(item.names)">
																{{ item.names.charAt(0).toUpperCase() }}
																</span>
															</div>

															<div class="d-flex flex-column" style="min-width:0;">
																<a class="text-gray-700 fs-8 fw-500 text-truncate-1">
																{{ item.fullnames ? item.fullnames : `${item.names} ${item.surname}` }}
																</a>

																<small class="text-gray-600 fw-400 text-truncate-1 fs-8">
																{{ item.email }}
																</small>
															</div>

														</div>
													</td>
													<td class="fixed-md">
														<div class="d-flex flex-column">
															<a class="text-gray-600 fw-400 fs-8 text-truncate-1">
																({{item.prefix}}) {{item.phone}}
															</a>
														</div>
													</td>
													<td class="fixed-md">
														<div class="d-flex flex-column">
															<a class="text-gray-600 fw-400 fs-8 text-truncate-1">
																{{item.number_document}}
															</a>
															<span class="text-gray-700 fs-8 fw-500 text-truncate-1">
																{{item.type_document}}
															</span>
														</div>
													</td>
													<td class="fixed-sm">
														<span class="badge rounded-pill text-gray-700 fw-800"
														[ngClass]="{ 'bg-outline-danger': !item.status, 'bg-outline-success': item.status }">
														<span class="d-inline-block rounded-circle me-1"
																style="width: 6px; height: 6px"
																[ngClass]="{ 'bg-danger': !item.status, 'bg-success': item.status }"></span>
														{{ item.status ? 'Activo' : 'Inactivo' }}
														</span>
													</td>
													<td class="fixed-xs text-center p-0">
														<div class="dropdown">
															<button 
																class="icon-btn btn-action dropdown-toggle d-flex align-items-center justify-content-center mx-auto"
																data-bs-toggle="dropdown">
																<i class="bi bi-three-dots"></i>
															</button>
															<app-modal-delete
																[id]="'modalDelete-' + item.id"
																[title]="item.status 
																	? 'Desactivar colaborador' 
																	: 'Activar colaborador'"
																[description]="
																	item.status
																		? `El colaborador <b>${item.names} ${item.surname}</b> dejará de tener acceso y quedará deshabilitado temporalmente.`
																		: `El colaborador <b>${item.names} ${item.surname}</b> volverá a estar activo y podrá acceder nuevamente al sistema.`
																"
																[textButton]="item.status ? 'Desactivar' : 'Activar'"
																(actionConfirmed)="onUpdateStatus(item.id!, item.status!)"
																[loadBtnDelete]="isUpdatingMultipleStatuses">
															</app-modal-delete>
															<div class="dropdown-menu menu-state-bg-light-primary" data-bs-display="static">
																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																[routerLink]="['/users/collaborators/' + item?.id + '/edit']">
																	<ion-icon name="create-outline"></ion-icon>
																	Editar
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																(click)="sendCollaboratorByWhatsApp(item)">
																	<ion-icon name="logo-whatsapp"></ion-icon>
																	Enviar a WhatsApp
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																(click)="copyCollaboratorToClipboard(item)">
																	<ion-icon name="copy-outline"></ion-icon>
																	Copiar
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																[routerLink]="['/users/collaborators/' + item?.id + '/logs']">
																	<ion-icon name="document-text-outline"></ion-icon>
																	Logs
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																[routerLink]="['/users/collaborators/' + item?.id + '/rols']">
																	<ion-icon name="shield-checkmark-outline"></ion-icon>
																	Permisos
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																data-bs-toggle="modal"
																[attr.data-bs-target]="'#modalDelete-' + item?.id">
																	<ion-icon [name]="item?.status ? 'close-circle-outline' : 'checkmark-circle-outline'"></ion-icon>
																	{{ item?.status ? 'Desactivar' : 'Activar' }}
																</a>

															</div>
														</div>
													</td>
												</tr>
											}@else {
												<tr>
													<td colspan="6">
														<app-not-found [error]="{ message: 'No se encontraron registros.', statusCode: 404 }"></app-not-found>
													</td>
												</tr>
											}
										</tbody>

									</table>
								</div>

								<div class="d-flex justify-content-between pb-10">
									<div class="d-flex align-items-center gap-2 text-gray-600 fs-8 text-uppercase ls-1px">
										Ver
										<select class="form-select form-control-sm w-auto" 
										name="limit" 
										[(ngModel)]="limit" 
										(change)="onLimitChange()"
										[disabled]="isCollaboratorsLoading">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="25">25</option>
										</select>
										Por pagina
									</div>
									<div class="d-flex align-items-center gap-3">
										<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"> </app-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<app-modal-delete
	[id]="'modalMultipleActive'"
	[title]="'Activación Multiple'"
	[description]="'El estado de los usuarios seleccionados será actualizado. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Activar'"
	(actionConfirmed)="onUpdateStatusMultiple(true)"
	[loadBtnDelete]="isUpdatingMultipleStatuses"
>
</app-modal-delete>

<app-modal-delete
	[id]="'modalMultipleDisabled'"
	[title]="'Desactivación Multiple'"
	[description]="'El estado de los usuarios seleccionados será actualizado. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Desactivar'"
	(actionConfirmed)="onUpdateStatusMultiple(false)"
	[loadBtnDelete]="isUpdatingMultipleStatuses"
>
</app-modal-delete>


