<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">Colaboradores</h1>

							<ul class="breadcrumb breadcrumb-separatorless fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/users/collaborators']" class="text-muted text-hover-primary"> Colaboradores </a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary fw-600">Editar colaborador</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3"></div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container">

						<div class="card mb-10">
							<!--begin::Card header-->
							<div class="card-header" style="background-color: #f1f5f9;">
								<!--begin::Heading-->
								<h4 class="card-title m-0 d-flex flex-column">
									<span class="fs-5 fw-600">Editar Colaborador</span>
									<span class="text-gray-500 mt-1 fw-400 fs-0-9rem">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat..
									</span>
								</h4>
							</div>
							<!--end::Card header-->

							<!--begin::Card body-->
							<div class="card-body" *ngIf="!loading">
								<ng-container *ngIf="!errorMsmServerGetCollaborator">
									<div class="row">
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Nombres</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.names" (click)="showErrors.names = !showErrors.names">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.names ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<input type="text" 
												class="form-control mb-1" 
												placeholder="Sheldon Lee"
												name="names" 
												[(ngModel)]="collaborator.names"
												[ngClass]="{'is-invalid': errorsCollaborator?.names}">

												<span class="fs-8 text-muted">Nombres completos del usuario.</span>
												<div class="validation-wrapper" [class.open]="showErrors.names">
													<app-validation-popover 
													[errors]="errorsCollaborator?.names"></app-validation-popover>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Apellidos</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.surname" (click)="showErrors.surname = !showErrors.surname">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.surname ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<input type="text" 
												class="form-control mb-1" 
												placeholder="Cooper"
												name="surname" 
												[(ngModel)]="collaborator.surname"
												[ngClass]="{'is-invalid': errorsCollaborator?.surname}">

												<span class="fs-8 text-muted">Apellido paterno y materno del usuario.</span>
												<div class="validation-wrapper" [class.open]="showErrors.surname">
													<app-validation-popover 
													[errors]="errorsCollaborator?.surname"></app-validation-popover>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Rol</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.role" (click)="showErrors.role = !showErrors.role">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.role ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<div [ngClass]="{ 'is-invalid': errorsCollaborator?.role }">
													<ng-select
														[items]="rols"
														bindLabel="name"
														bindValue="value"
														name="role"
														[(ngModel)]="collaborator.role"
														placeholder="Rol"
														[clearable]="false"
														[closeOnSelect]="true"
														class="select-element mb-1"
														appendTo="body"
														[searchable]="false"
													>
														<!-- Opción en el dropdown -->
														<ng-template ng-option-tmp let-item="item">
															<div class="option-item d-flex gap-3 align-items-center">
																<div class="option-name fs-7">{{ item.name }}</div>
															</div>
														</ng-template>

														<!-- Opción seleccionada en el input -->
														<ng-template ng-label-tmp let-item="item">
															<div class="option-item d-flex gap-3 align-items-center">
																<div class="option-name fs-7">{{ item.name }}</div>
															</div>
														</ng-template>
													</ng-select>
												</div>
												<span class="fs-8 text-muted">Clasificación del colaborador.</span>
												<div class="validation-wrapper" [class.open]="showErrors.role">
													<app-validation-popover 
													[errors]="errorsCollaborator?.role"></app-validation-popover>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Correo electrónico</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.email" (click)="showErrors.email = !showErrors.email">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.email ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<input
													type="email"
													class="form-control mb-1"
													placeholder="sheldon.cooper@praxiscomercial.pe"
													name="email"
													[(ngModel)]="collaborator.email"
													[ngClass]="{ 'is-invalid': errorsCollaborator?.email }"
												/>

												<span class="fs-8 text-muted">Correo corporativo del usuario.</span>
												
												<div class="validation-wrapper" [class.open]="showErrors.email">
													<app-validation-popover 
													[errors]="errorsCollaborator?.email"></app-validation-popover>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Tipo de documento</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.type_document" (click)="showErrors.type_document = !showErrors.type_document">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.type_document ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<div [ngClass]="{ 'is-invalid': errorsCollaborator?.type_document }">
													<ng-select
														[items]="identityDocuments"
														bindLabel="name"
												    	bindValue="value"
														[(ngModel)]="collaborator.type_document"
														placeholder="Tipo de documento"
														[clearable]="false"
														[closeOnSelect]="true"
														class="select-element mb-1"
														appendTo="body"
													>
														<!-- Opción en el dropdown -->
														<ng-template ng-option-tmp let-item="item">
															<div class="option-item d-flex gap-3 align-items-center">
																<div class="option-name fs-7">{{ item.name }}</div>
															</div>
														</ng-template>

														<!-- Opción seleccionada en el input -->
														<ng-template ng-label-tmp let-item="item">
															<div class="option-item d-flex gap-3 align-items-center">
																<div class="option-name fs-7">{{ item.name }}</div>
															</div>
														</ng-template>
													</ng-select>
												</div>

												<span class="fs-8 text-muted">Tipo de documento de identidad.</span>
												<div class="validation-wrapper" [class.open]="showErrors.type_document">
													<app-validation-popover 
													[errors]="errorsCollaborator?.type_document"></app-validation-popover>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Número de documento</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.number_document" (click)="showErrors.number_document = !showErrors.number_document">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.number_document ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<input type="text" 
												class="form-control mb-1" 
												placeholder="Número de documento"
												[disabled]="collaborator.type_document == undefined"
												[imask]="{ mask: (collaborator.type_document?.name == 'DNI') ? '00000000' : '0000000000000000000', unmask: true }"
												name="number_document" 
												[(ngModel)]="collaborator.number_document"
												[ngClass]="{'is-invalid': errorsCollaborator?.number_document}">

												<span class="fs-8 text-muted">Documento de identidad nacional.</span>
												<div class="validation-wrapper" [class.open]="showErrors.number_document">
													<app-validation-popover 
													[errors]="errorsCollaborator?.number_document"></app-validation-popover>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="d-flex flex-column fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Telefono</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.phone" (click)="showErrors.phone = !showErrors.phone">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.phone ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<input type="text" 
												class="form-control mb-1" 
												name="phone" 
												[(ngModel)]="collaborator.phone"
												[ngClass]="{'is-invalid': errorsCollaborator?.phone}"
												placeholder="987654321"
												[imask]="{ mask: '000000000', unmask: true }"
												>

												<span class="fs-8 text-muted">Número telefonico con prefijo peruano.</span>
												<div class="validation-wrapper" [class.open]="showErrors.phone">
													<app-validation-popover 
													[errors]="errorsCollaborator?.phone"></app-validation-popover>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="d-flex flex-column fv-row fv-plugins-icon-container">
												<div class="d-flex align-items-center justify-content-between mb-1">
													<label class="required fw-500 text-gray-700 fs-6 mb-1">Contraseña</label>
													<small class="text-danger cursor-pointer d-flex align-items-center gap-1" *ngIf="errorsCollaborator?.password" (click)="showErrors.password = !showErrors.password">
														<ion-icon name="information-circle-outline" class="validation-icon"> </ion-icon>
														{{ showErrors.password ? 'Ocultar errores' : 'Ver errores' }}
													</small>
												</div>

												<div class="input-group mb-1">
													<input 
														type="text" 
														class="form-control border-end-0" 
														placeholder="Contraseña segura"
														name="password" 
														[(ngModel)]="collaborator.password"
														[ngClass]="{'is-invalid': errorsCollaborator?.password}"
													>
													<span class="input-group-text bg-white border-start-0 px-5"
													[ngClass]="{'border-danger': errorsCollaborator?.password}">
														<a 
														class="text-primary cursor-pointer" 
														(click)="generatePassword()" 
														style="font-size: 0.85rem; text-decoration: none;">
														Generar
														</a>
													</span>
												</div>

												<span class="fs-8 text-muted">Contraseña de acceso a la plataforma.</span>
												<div class="validation-wrapper" [class.open]="showErrors.password">
													<app-validation-popover 
													[errors]="errorsCollaborator?.password"></app-validation-popover>
												</div>
											</div>
										</div>
									</div>
								</ng-container>
								<!--end::Table wrapper-->
								<ng-container *ngIf="errorMsmServerGetCollaborator">
									<app-not-found [error]="errorMsmServerGetCollaborator"></app-not-found>
								</ng-container>
							</div>

							<!-- INICIO PRECARGADOR -->
							<div class="card-body" *ngIf="loading">
								<!--begin::Table wrapper-->
								<div class="row">
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Nombres</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Nombres completos del usuario.</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Apellidos</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Apellido paterno y materno del usuario.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Rol</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Clasificación del colaborador.</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Correo electrónico</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Correo corporativo del usuario.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Tipo de documento</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Tipo de documento de identidad.</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Número de documento</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Documento de identidad nacional.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="d-flex flex-column fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Telefono</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Número telefonico con prefijo peruano.</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="d-flex flex-column fv-row fv-plugins-icon-container">
											<!--begin::Label-->
											<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 text-gray-700">
												<span class="required">Contraseña</span>
											</label>
											<!--end::Label-->

											<div class="d-flex justify-content-end gap-2 mb-1">
												<div class="skeleton skeleton-input"></div>
											</div>

											<span class="fs-8 text-muted">Contraseña de acceso a la plataforma.</span>
										</div>
									</div>
								</div>
								<!--end::Table wrapper-->
							</div>
							<!--end::Card body-->
							<div class="card-footer" style="background-color: #f1f5f9;">
								<button
									class="btn btn-sm btn-primary my-1 cursor-pointer d-flex align-items-center justify-content-center gap-1"
									[disabled]="loading || loadBtn || errorMsmServerGetCollaborator"
									(click)="!loading && !loadBtn && !errorMsmServerGetCollaborator && update()"
									type="button"
								>
									<ng-container *ngIf="loadBtn">
										<span class="spinner-border spinner-border-sm me-2"
											aria-hidden="true">
										</span>
										<span role="status">Procesando...</span>
									</ng-container>

									<ng-container *ngIf="!loadBtn">
										<i class="bi bi-person-plus"></i>
										<span>Actualizar colaborador</span>
									</ng-container>
								</button>
							</div>
						</div>
						<!-- FECHA VISIBLE EN LA PARTE INFERIOR  -->
						<div class="d-flex flex-column w-100">
							<ng-container *ngIf="!loading">
								<ng-container *ngIf="!errorMsmServerGetCollaborator">
									<div class="d-flex gap-2">
										<small class="text-gray-700 fw-600 fs-8"> Creación: </small>
										<small class="text-muted fs-8">{{ collaborator.createdAt | date: 'medium' }}</small>
									</div>
									<div class="d-flex gap-2">
										<small class="text-gray-700 fw-600 fs-8"> Actualización: </small>
										<small class="text-muted fs-8">{{ collaborator.updatedAt | date: 'medium' }}</small>
									</div>
									<div class="d-flex gap-2">
										<small class="text-gray-700 fw-600 fs-8"> Estado: </small>
										<small class="text-muted fs-8">{{ collaborator.statusAt | date: 'medium' }}</small>
									</div>
								</ng-container>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
