<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Colaboradores</h1>

							<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/users/collaborators']" class="text-muted text-hover-primary"> Colaboradores </a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary">Editar colaborador</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3"></div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container">
						<div class="card mb-10">
							<!--begin::Card header-->
							<div class="card-header">
								<!--begin::Heading-->
								<h4 class="card-title m-0 d-flex flex-column">
									<span class="fs-5">Editar Colaborador</span>
									<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat..
									</span>
								</h4>
								<!--end::Heading-->
							</div>
							<!--end::Card header-->

							<!--begin::Card body-->
							<div class="card-body p-0" *ngIf="!loading">
								<div class="table-responsive mb-5" *ngIf="!errorMsmServerGetCollaborator">
									<!--begin::Table-->
									<table class="table align-middle table-row-bordered table-row-solid gy-4 gs-9 mb-0">
										<!--begin::Tbody-->
										<tbody class="fw-6">
											<tr>
												<td class="py-5 font-normal w-350px">
													<label class="fs-6 required">Nombres</label>
													<div class="text-muted fs-8">
														<small>Nombres completos del usuario.</small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<input
															type="text"
															class="form-control"
															placeholder="Sheldon Lee"
															name="names"
															[(ngModel)]="collaborator.names"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.names }"
														/>
														<!--end::Input-->
														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.names">
															<small>
																{{ errorsCollaborator?.names[0] }}
															</small>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Apellidos</label>
													<div class="text-muted fs-8">
														<small> Apellido paterno y materno del usuario. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<input
															type="text"
															class="form-control"
															placeholder="Cooper"
															name="surname"
															[(ngModel)]="collaborator.surname"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.surname }"
														/>

														<!--end::Input-->
														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.surname">
															<small>{{ errorsCollaborator?.surname[0] }}</small>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Rol</label>
													<div class="text-muted fs-8">
														<small> Clasificación del colaborador. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<select
															class="form-select"
															name="number_document"
															[(ngModel)]="collaborator.role"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.role }"
														>
															<option value="" selected disabled>Seleccionar</option>
															<option value="VENDEDOR">VENDEDOR</option>
															<option value="SECTORISTA">SECTORISTA</option>
															<option value="DEFAULT">DEFAULT</option>
														</select>
														<!--end::Input-->
														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.role">
															<small>{{ errorsCollaborator?.role[0] }}</small>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Tipo de documento</label>
													<div class="text-muted fs-8">
														<small> Tipo de documento de identidad. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<select
															class="form-select"
															name="number_document"
															[(ngModel)]="collaborator.type_document"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.type_document }"
														>
															<option value="" selected disabled>Seleccionar</option>
															<option value="DNI">DNI</option>
															<option value="CARNET DE EXTRANJERÍA">CARNET DE EXTRANJERÍA</option>
														</select>
														<!--end::Input-->
														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.type_document">
															<small>{{ errorsCollaborator?.type_document[0] }}</small>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Número de documento</label>
													<div class="text-muted fs-8">
														<small> Código únido de documento. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<input
															type="text"
															class="form-control"
															placeholder="Número de documento"
															[imask]="{ mask: collaborator.type_document == 'DNI' ? '00000000' : '0000000000000000000', unmask: true }"
															name="number_document"
															[(ngModel)]="collaborator.number_document"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.number_document }"
														/>

														<!--end::Input-->
														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.number_document">
															<small>{{ errorsCollaborator?.number_document[0] }}</small>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Correo Electrónico</label>
													<div class="text-muted fs-8">
														<small> Correo corporativo del usuario. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<input
															type="email"
															class="form-control"
															placeholder="sheldon.cooper@praxiscomercial.pe"
															name="email"
															[(ngModel)]="collaborator.email"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.email }"
														/>

														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.email">
															<small>{{ errorsCollaborator?.email[0] }}</small>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Telefono</label>
													<div class="text-muted fs-8">
														<small> Número telefonico con prefijo peruano. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<input
															type="text"
															class="form-control"
															placeholder="sheldon.cooper@praxiscomercial.pe"
															name="phone"
															[(ngModel)]="collaborator.phone"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.phone }"
															placeholder="987654321"
															[imask]="{ mask: '000000000', unmask: true }"
														/>

														<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.phone">
															<small>{{ errorsCollaborator?.phone[0] }}</small>
														</div>
													</div>
												</td>
											</tr>

											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Password</label>
													<div class="text-muted fs-7">
														<small>Contraseña de acceso.</small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="input-group pb-8px">
														<input
															type="text"
															class="form-control border-end-0"
															placeholder="Contraseña segura"
															name="password"
															[(ngModel)]="collaborator.password"
															[ngClass]="{ 'is-invalid': errorsCollaborator?.password }"
														/>
														<span class="input-group-text bg-white border-start-0 px-5" style="border-radius: 0px !important">
															<a
																class="text-primary cursor-pointer pb-1"
																(click)="generatePassword()"
																style="font-size: 0.85rem; text-decoration: none"
															>
																Generar
															</a>
														</span>
													</div>
													<div class="invalid-feedback mt-0" *ngIf="errorsCollaborator?.password">
														<small>{{ errorsCollaborator?.password[0] }}</small>
													</div>
												</td>
											</tr>
										</tbody>
										<!--end::Tbody-->
									</table>
									<!--end::Table-->
								</div>
								<!--end::Table wrapper-->
								<ng-container *ngIf="errorMsmServerGetCollaborator">
									<app-not-found [error]="errorMsmServerGetCollaborator"></app-not-found>
								</ng-container>
							</div>

							<!-- INICIO PRECARGADOR -->
							<div class="card-body p-0" *ngIf="loading">
								<!--begin::Table wrapper-->
								<div class="table-responsive mb-5">
									<!--begin::Table-->
									<table class="table align-middle table-row-bordered table-row-solid gy-4 gs-9 mb-0">
										<!--begin::Tbody-->
										<tbody class="fw-6">
											<tr>
												<td class="py-5 font-normal w-350px">
													<label class="fs-6 required">Nombres</label>
													<div class="text-muted fs-8">
														<small>Nombres completos del usuario.</small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Apellidos</label>
													<div class="text-muted fs-8">
														<small> Apellido paterno y materno del usuario. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Rol</label>
													<div class="text-muted fs-8">
														<small> Clasificación del colaborador. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Tipo de documento</label>
													<div class="text-muted fs-8">
														<small> Tipo de documento de identidad. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Número de documento</label>
													<div class="text-muted fs-8">
														<small> Código únido de documento. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Correo Electrónico</label>
													<div class="text-muted fs-8">
														<small> Correo corporativo del usuario. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Telefono</label>
													<div class="text-muted fs-8">
														<small> Número telefonico con prefijo peruano. </small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td class="py-5 font-normal">
													<label class="fs-6 mt-2 required">Password</label>
													<div class="text-muted fs-7">
														<small>Contraseña de acceso.</small>
													</div>
												</td>
												<td class="py-5 text-gray-800 font-normaltext-sm min-w-400px">
													<div class="position-relative pb-8px">
														<div class="d-flex justify-content-end gap-2">
															<div class="form-control-solid form-control-load" style="height: 43.56px; width: 100%"></div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
										<!--end::Tbody-->
									</table>
									<!--end::Table-->
								</div>
								<!--end::Table wrapper-->
							</div>
							<!--end::Card body-->
							<div class="card-footer d-flex justify-content-between">
								<button
									class="btn btn-sm btn-primary my-1 cursor-pointer"
									[disabled]="loading || loadBtn || errorMsmServerGetCollaborator"
									(click)="!loading && !loadBtn && !errorMsmServerGetCollaborator && update()"
									type="button"
								>
									<ng-container *ngIf="loadBtn">
										<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
										<span role="status">Procesando...</span>
									</ng-container>

									<ng-container *ngIf="!loadBtn"> Actualizar colaborador </ng-container>
								</button>
							</div>
						</div>
						<!-- FECHA VISIBLE EN LA PARTE INFERIOR  -->
						<div class="d-flex flex-column mb-10">
							<ng-container *ngIf="!loading">
								<ng-container *ngIf="!errorMsmServerGetCollaborator">
									<small class="text-muted fs-8"> Creación: {{ collaborator.createdAt | date: 'medium' }} </small>
									<small class="text-muted fs-8"> Actualización: {{ collaborator.updatedAt | date: 'medium' }} </small>
									<small class="text-muted fs-8">
										Estado:
										<ng-container *ngIf="collaborator.statusAt">
											{{ collaborator.statusAt | date: 'medium' }}
										</ng-container>
										<ng-container *ngIf="!collaborator.statusAt"> --- </ng-container>
									</small>
								</ng-container>
							</ng-container>
							<ng-container *ngIf="loading">
								<div class="d-flex flex-column gap-2">
									<div class="form-control-solid form-control-load" style="width: 200px; height: 10px"></div>
									<div class="form-control-solid form-control-load" style="width: 200px; height: 10px"></div>
									<div class="form-control-solid form-control-load" style="width: 200px; height: 10px"></div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
