.dropdown-toggle::after {
	display: none !important;
}

.dropdown-menu{
    min-width: 230px !important;
    box-shadow: rgba(67, 65, 65, 0.075) 0px 0.5rem 1.5rem 0.5rem !important;
    padding: 7px !important;
    border-radius: 5px !important;
}

.dropdown-item{
    font-family: "Lexend" !important;
    border-bottom: 1px solid #f2f2f2;
}


.menu-state-bg-light-primary li a:hover{
	transition: color 0.2s ease;
	background-color: #E9F3FF;
	color: #1B84FF;
}

.menu-state-bg-light-primary a:hover{
	transition: color 0.2s ease;
	background-color: #E9F3FF;
	color: #1B84FF;
}

.menu-state-bg-light-primary li a{
    border-radius: 0.475rem !important;
}