.ff-open-sans {
	font-family: 'Open Sans' !important;
}

body {
	background-color: white !important;
}

.cursor-disabled {
	cursor: not-allowed !important;
}

.h-45px{
	height: 45px !important;
}

.ls-1px {
	letter-spacing: 0.5px;
}

.fw-800 {
	font-weight: 800 !important;
}

* {
	font-family: 'Lexend';
}

.fw-300{
	font-weight: 300 !important;
}

.fw-400 {
	font-weight: 400 !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fs-0-9rem {
	font-size: 0.9rem !important;
}

.cursor-pointer {
	cursor: pointer;
}

.btn-xs{
	font-size: .8rem !important;
	padding: calc(.35rem + 1px) calc(1.05rem + 1px) !important;
	border: 1px solid #e9e9e9 !important;
}

.btn{
	border-radius: .225rem !important;
}

.bg-outline-danger {
	color: #f8285a;
	background-color: #ffeef3;
	border: 1px dashed rgba(248, 40, 90, 0.2);
	padding: 5px 12px !important;
	font-weight: 500 !important;
	font-size: 0.8rem !important;
}

.bg-outline-success {
	color: #ffc700;
	background-color: #dfffea;
	border: 1px dashed #17c653;
	padding: 5px 12px !important;
	font-weight: 500 !important;
	font-size: 0.8rem !important;
}

.bg-outline-warning {
    color: #ffc700;
    background-color: #ffc8001f;
    border: 1px dashed #ffc700;
    padding: 5px 12px !important;
    font-weight: 500 !important;
	font-size: 0.8rem !important;
}

.bg-outline-primary {
    color: #3e97ff !important;
    background-color: #f1faff;
    border: 1px dashed #3e97ff;
    padding: 5px 12px !important;
    font-weight: 500 !important;
	font-size: 0.8rem !important;
}


.form-control-load {
	background: #e7e7e7 no-repeat !important;
	cursor: progress !important;
	border-radius: 0.475rem !important;
}

.border-dashed {
	border: 1px dashed #c9c9c9 !important;
}

.border-danger {
	border-radius: 6px !important;
	border: 1px dashed #f1416c;
}

.border-primary {
	border: 1px dashed #3e97ff;
}
.border-success {
	border: 1px dashed #17c653;
}
.border-info {
	border: 1px dashed #7239ea;
}
.border-warning {
	border: 1px dashed #f6c000;
}
.border-secondary {
	border: 1px dashed #c4cada;
}

.card {
	border-radius: 0px !important;
	box-shadow: rgb(0 0 0 / 6%) 0.5rem 0.5rem 1.5rem 0.5rem !important;
}

.mx-w-350px {
	max-width: 350px !important;
}

.min-w-400px {
	min-width: 400px !important;
}

.is-invalid .ng-select .ng-select-container {
	border: 1px solid #f1416c !important;
}

/***/


.py-15 {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}




/***********************************/

.tagify.form-control {
	width: 100%;
	padding-top: 0.475rem !important;
	font-size: 1rem;
	line-height: 1.5;
	min-height: 43.56px !important;
	padding-left: 5px !important;
	background-color: #ffffff;
	border: 1px solid #dbdfe9;
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	gap: 0.7rem !important;
	transition:
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

/* 🔹 Efecto al enfocar */
.tagify.form-control:focus-within {
}

/* 🔹 Cada etiqueta */
.tagify__tag {
}

.tox-mbtn__select-label{
	font-size: .85rem !important;	
	color: #9da1bc !important;
	font-weight: 500 !important;
}

/* 🔹 Texto dentro del tag */
.tagify__tag-text {
}

/* 🔹 Área donde se escribe */
.tagify__input {
	color: #4b5675 !important;
	font-size: 1.1rem !important;
	font-family: 'Lexend' !important;
}

.tagify__input::before {
	font-size: 1.1rem !important;
	font-family: 'Lexend' !important;
	color: #9da1bc !important;
	font-weight: 500;
}

.tagify__tag {
	padding: 0.25rem !important;
}

.tagify__tag-text {
	color: #4b5675 !important;
	font-size: 1rem !important;
	font-family: 'Lexend' !important;
}

.text-ellipsis {
  white-space: nowrap;        /* No saltar de línea */
  overflow: hidden;           /* Ocultar lo que no entra */
  text-overflow: ellipsis;    /* Mostrar "..." */
  display: block;             /* Necesario para que funcione correctamente */
}

/******************************************/

.tox-tinymce {
	border: 1px solid #dbdfe9 !important;
	font-family: 'Lexend' !important;
	border-radius: 0.475rem !important;
}

.tox .tox-edit-area::before {
	content: '' !important;
	border: 0px !important;
}

.tox-promotion{
	display: none !important;
}

/**************************************************/

.tooltip-dark .tooltip-inner {
  background: #000000 !important; /* negro suave transparente */
  backdrop-filter: blur(3px) !important;     /* efecto blur (desenfoque) */
  -webkit-backdrop-filter: blur(3px) !important;

  color: #fff !important;
  padding: 8px 15px !important;
  font-size: 11px !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45) !important;
}

.tooltip-dark-error .tooltip-inner {
  background: rgba(0, 0, 0, 0.826) !important; 
  backdrop-filter: blur(10px) !important;  
  -webkit-backdrop-filter: blur(10px) !important;

  color: #fff !important;
  padding: 10px 16px !important;
  font-size: 13px !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45) !important;
  max-width: 280px;   /* default es ~200px */
  width: 280px;       /* opcional, fuerza ancho fijo */
  text-align: left;   /* mejor para listas */
}

/* Flecha */
.tooltip-dark .tooltip-arrow::before {
  border-top-color: rgba(0, 0, 0, 0.45) !important;
}

.underline-dashed {
  position: relative;
  display: inline-block;
}

.underline-dashed::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;              /* separación entre texto y línea */
  border-bottom: 1px dashed #727272;
}

.text-description-form{
	display: block;
	line-height:1.4;
}

.popover-body{
	box-shadow:
    0 1px 3px rgba(0, 0, 0, .08),
    0 12px 32px rgba(0, 0, 0, .14) !important;
}

.filters-container{
    display:grid;
    gap:1.25rem;
    grid-template-columns:repeat(4,1fr);
}

@media(max-width:992px){
    .filters-container{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:576px){
    .filters-container{
        grid-template-columns:1fr;
    }
}

.text-truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input,
textarea,
select {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.form-control-sm{
  height: 35.79px !important;
}

input[type="text"]:not(.form-control-sm),
input[type="number"]:not(.form-control-sm),
input[type="file"]:not(.form-control-sm),
input[type="email"]:not(.form-control-sm),
input[type="password"]:not(.form-control-sm),
input[type="search"]:not(.form-control-sm),
input[type="url"]:not(.form-control-sm),
input[type="tel"]:not(.form-control-sm){
    height: 42.93px !important;
}

button ion-icon[name="settings-outline"]{
    transition: transform 1.2s ease-in-out;
}

button[aria-expanded="true"] ion-icon[name="settings-outline"]{
    transform: rotate(90deg);
}

textarea{
    resize: vertical !important;
}

/*****************************************************************/

.btn-light-danger{
	border: 1px dashed #ffccd9 !important;
}

.btn-light-primary{
	border: 1px dashed #aad0fd !important;
}

.bg-light-primary{
	border: 1px dashed #aad0fd !important;
}

.bg-light-secondary{
	border: 1px dashed #bcbcbc !important;
	background-color: #f1f5f9 !important;
}


.bg-outline-secondary {
    background-color: #F1F1F2;
    border: 1px dashed #ccc;
    padding: 5px 12px !important;
    font-weight: 500 !important;
	font-size: 0.8rem !important;
}

.bg-secondary{
	background-color: #4b5675 !important;
}

.btn-icon{
    width: 36px !important;
    height: 36px !important;
    border-radius: .475rem !important;
}

.btn-icon-xs{
	min-width: 30px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: .475rem !important;
	padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-icon i{
    padding-right: 0px !important;
}

button:disabled {
    cursor: not-allowed !important;
}

.h-25px{
  height: 25px !important;
}

.w-25px{
  width: 25px !important;
}
