<div class="dropdown w-100">
	<input
		#trigger
		autocomplete="off"
		type="text"
		name="name"
		readonly
		class="form-control dropdown-toggle w-100 text-ellipsis cursor-pointer custom-trigger"
		[ngClass]="{ 'form-control-sm': sizeClass == 'sm' }"
		data-bs-toggle="dropdown"
		aria-expanded="false"
		[value]="selectedNames"
		[placeholder]="placeholder"
		placement="top"
		[ngbTooltip]="selectedNames"
		tooltipClass="tooltip-dark"
	/>

	<div id="dropdown" class="dropdown-menu" data-bs-display="static" data-bs-auto-close="outside" (click)="$event.stopPropagation()">
		<!-- HEADER -->
		<div class="dropdown-header-custom p-4">
			<div class="d-flex justify-content-between align-items-center mb-3">
				<div class="d-flex flex-column">
					<span class="dropdown-title text-gray-800">
						{{ title }}
					</span>

					<small class="dropdown-subtitle text-gray-500">Selecciona uno o más elementos</small>
				</div>

				<button type="button" class="btn-refresh" (click)="init_brands()" [disabled]="loadingBrands">
					@if (loadingBrands) {
						<span class="spinner-border spinner-border-sm text-primary" role="status"></span>
					} @else {
						<i class="bi bi-arrow-clockwise text-primary"></i>
					}
				</button>
			</div>

			<div class="position-relative">
				<input
					type="text"
					class="form-control form-control-sm pe-5 dropdown-search custom-placeholder"
					[placeholder]="placeholder"
					[(ngModel)]="filter"
					(keyup)="onFilterOrStatusChange()"
				/>

				<i class="bi bi-search dropdown-search-icon" (click)="onFilterOrStatusChange()"></i>
			</div>
		</div>

		<!-- ITEMS -->
		<div class="items-container">
			<ng-container *ngIf="loadingBrands">
				<div class="dropdown-item-custom d-flex align-items-center" *ngFor="let item of [1, 2, 3, 4, 5, 6]" style="height: 40px !important; width: 100% !important">
					<div class="d-flex justify-content-start align-items-center" style="width: 100% !important">
						<div class="me-4">
							<div class="skeleton skeleton-check" style="width: 14.29px !important; height: 14.29px !important"></div>
						</div>
						<div class="skeleton skeleton-text" style="width: 40% !important"></div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="!loadingBrands">
				<ng-container *ngIf="displayBrands.length >= 1">
					<div class="dropdown-item-custom d-flex justify-content-between" *ngFor="let item of displayBrands" style="height: 40px !important">
						<label class="form-check form-check-custom form-check-solid m-0 cursor-pointer">
							<input class="form-check-input me-4" type="checkbox" [(ngModel)]="item.checked" [checked]="item.checked" />
							<div class="d-flex align-items-center">
								<div class="symbol" style="height: 20px; width: 20px; border: 1px dashed #e3e3e3">
									<img [src]="item.logoUrl" class="h-100 w-100" alt="" />
								</div>

								<small class="form-check-label text-gray-700">
									{{ item.name }}
								</small>
							</div>
						</label>
					</div>
				</ng-container>
				<ng-container *ngIf="displayBrands.length == 0">
					<div class="d-flex flex-column align-items-center justify-content-center p-7">
						<div class="fw-500 text-gray-700">No se encontraron resultados.</div>
						<small class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
					</div>
				</ng-container>
			</ng-container>
		</div>
		<!-- FOOTER -->
		<div class="dropdown-footer p-4">
			<div class="d-flex justify-content-end gap-2">
				<button
					[disabled]="loadingBrands"
					class="btn btn-xs btn-bg-light btn-icon-secondary text-gray-600 d-flex align-items-center gap-1 px-3 py-2 fs-8"
					(click)="!loadingBrands ? onRemoveBrands() : null"
					style="border: 1px solid #eceaff !important; background-color: #fff !important"
				>
					Limpiar
				</button>
				<button class="btn btn-xs btn-dark d-flex align-items-center px-3 py-2 fs-8" [disabled]="loadingBrands" (click)="!loadingBrands ? onApplyBrands() : null">Confirmar</button>
			</div>
		</div>
	</div>
</div>
