<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">
								Atributos

								<span *ngIf="!loadAttributeGroup && !errorMsmServerGroup && groupAttribute?.name">
									&nbsp; | &nbsp;{{ groupAttribute.name }}
								</span>

								<div
									*ngIf="loadAttributeGroup"
									class="skeleton skeleton-text"
									style="width: 120px; height: 15px; margin-left: .9rem !important">
								</div>
							</h1>

							<ul class="breadcrumb breadcrumb-separatorless fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/products/attributes/groups']" class="text-muted text-hover-primary"> Grupos </a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary fw-600">Atributos</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3">
							<button
								[disabled]="loadAttributeGroup || !!errorMsmServerGroup || !groupAttribute?.id"
								[routerLink]="['/products/attributes/groups/'+id+'/attributes/create']"
								routerLinkActive="router-link-active"
								class="btn btn-sm fw-bold btn-primary d-inline-flex align-items-center gap-1"
							>
								<i class="bi bi-sliders"></i>
								<span>Nuevo atributo</span>
							</button>
							
						</div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container-fluid">

						<div class="d-flex justify-content-between align-items-center flex-nowrap gap-2 mt-5">
							<div class="d-flex gap-2">
								<div>
									<div class="d-flex align-items-center gap-2">
										<div class="position-relative">
											<input
												type="text"
												class="form-control form-control-sm w-300px pe-10"
												placeholder="Buscar atributo"
												name="filter"
												[(ngModel)]="filter"
												(keyup.enter)="onFilterOrStatusChange()"
											/>

											<i
												class="bi bi-search position-absolute cursor-pointer"
												style="right: 15px; top: 50%; transform: translateY(-50%)"
												(click)="onFilterOrStatusChange()"
											></i>
										</div>
										<button
											type="button"
											class="btn btn-sm btn-icon btn-light-primary d-flex align-items-center justify-content-center"
											(click)="resetFilters()"
											[disabled]="loading"
										>
											<span
												*ngIf="loading"
												class="spinner-border spinner-border-sm"
												role="status"
												aria-hidden="true"
											></span>
											<i
												*ngIf="!loading"
												class="bi bi-arrow-clockwise fs-5"
											></i>
										</button>
									</div>
								</div>
							</div>
							<div class="dropdown">
								<button
									disabled
									class="btn btn-dark btn-sm d-flex align-items-center gap-2 my-1"
									type="button"
									id="dropdownMenuButton"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									<ion-icon name="settings-outline" class="fs-5"></ion-icon>
									<span>Opciones</span>
									<ion-icon name="chevron-down-outline" class="fs-6"></ion-icon>
								</button>
								<ul class="dropdown-menu menu-state-bg-light-primary" aria-labelledby="dropdownMenuButton">
							
									
								</ul>
							</div>
							
						</div>

						<div class="my-7">
							@if (loadAttributeGroup || (!errorMsmServerGroup && categories?.length)) {
								<div class="d-flex gap-3">
									@if (loadAttributeGroup) {
										@for (item of [1,2,3,4,5,6]; track $index) {
											<div class="skeleton skeleton-text" style="width:64.16px; height:22.39px;"></div>
										}
									} @else {
										@for (item of categories; track $index) {
											<span class="badge badge-light-primary fs-8">
												{{ item.name }}
											</span>
										}
									}
								</div>
							}
						</div>

						<div class="filters-container">
							<div class="filter-item">
								<div class="d-flex flex-column mb-1 gap-1">
									<div class="d-flex align-items-center">
										<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ESTADO</span>
									</div>
									<ng-select
										[items]="statusTable"
										bindLabel="name"
										bindValue="value"
										name="status"
										(change)="onFilterOrStatusChange()"
										[(ngModel)]="status"
										placeholder="Estado"
										[clearable]="false"
										[closeOnSelect]="true"
										class="select-label-sm mb-1"
										appendTo="body"
										[searchable]="false"
									>
										<!-- Opción en el dropdown -->
										<ng-template ng-option-tmp let-item="item">
											<div class="d-flex align-items-center gap-2">
												<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
												<span>{{ item.name }}</span>
											</div>
										</ng-template>

										<!-- Opción seleccionada en el input -->
										<ng-template ng-label-tmp let-item="item">
											<div class="d-flex align-items-center gap-2">
												<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
												<span>{{ item.name }}</span>
											</div>
										</ng-template>
									</ng-select>
								</div>
							</div>
							<div class="filter-item">
								<div class="d-flex flex-column mb-1 gap-1">
									<div class="d-flex align-items-center">
										<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ORDEN</span>
									</div>
									<ng-select
										[items]="sortColumns"
										bindLabel="name"
										bindValue="value"
										name="sort"
										(change)="onFilterOrStatusChange()"
										[(ngModel)]="sort"
										placeholder="Orden"
										[clearable]="false"
										[closeOnSelect]="true"
										class="select-label-sm mb-1"
										appendTo="body"
										[searchable]="false"
									>
										<!-- Opción en el dropdown -->
										<ng-template ng-option-tmp let-item="item">
											<div class="d-flex align-items-center gap-2">
												<ion-icon [name]="item.icon"></ion-icon>
												<span>{{ item.name }}</span>
											</div>
										</ng-template>

										<!-- Opción seleccionada en el input -->
										<ng-template ng-label-tmp let-item="item">
											<div class="d-flex align-items-center gap-2">
												<ion-icon [name]="item.icon"></ion-icon>
												<span>{{ item.name }}</span>
											</div>
										</ng-template>
									</ng-select>
								</div>
							</div>
						</div>

						<div class="table-wrapper mt-4 mb-7">
							<table class="table custom-table align-middle mb-0">
								<thead>
									<tr>
										<th class="fixed-xs text-center p-0" style="position: unset !important;">
											<div class="dropdown">
												<button 
													class="btn btn-icon btn-dark h-25px w-25px"
													type="button"
													placement="top" 
													tooltipClass="tooltip-dark"
													container="body"
													[disabled]="!hasSelectedAttributes()"
													id="dropdownTable"
													data-bs-toggle="dropdown"
													aria-expanded="false">
													<ion-icon name="settings-outline" class="fs-5"></ion-icon>
												</button>
												<ul class="dropdown-menu menu-state-bg-light-primary" 
												aria-labelledby="dropdownTable">
													<li>
														<a class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-7"
														[class.disabled]="selectedIds.size === 0"
														[attr.data-bs-toggle]="selectedIds.size > 0? 'modal': null"
														[attr.data-bs-target]="selectedIds.size > 0? '#modalMultipleActive': null"
														style="text-transform: capitalize !important;">
															<ion-icon name="checkmark-circle-outline" class="text-primary"></ion-icon>
															Activar
														</a>
													</li>
													<li>
														<a class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-7"
														[class.disabled]="selectedIds.size === 0"
														[attr.data-bs-toggle]="selectedIds.size > 0? 'modal': null"
														[attr.data-bs-target]="selectedIds.size > 0? '#modalMultipleDisabled': null"
														style="text-transform: capitalize !important;">
															<ion-icon name="close-circle-outline" class="text-danger"></ion-icon>
															Desactivar
														</a>
													</li>
												</ul>
											</div>
										</th>
										<th class="flex-column">
											Atributo
										</th>
										<th class="fixed-md">
											Estado
										</th>
										<th class="fixed-xs text-center text-center">
											
										</th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="loading">
										<tr *ngFor="let item of [1,2,3,4,5,6]">
											<td class="fixed-xs text-center p-0">
												<div class="skeleton skeleton-check"></div>
											</td>
											<td class="flex-column fw-medium">
												<div class="d-flex flex-column gap-2" style="width:100%; max-width:250px">
													<div class="skeleton skeleton-text" style="width:60%;"></div>
													<div class="skeleton skeleton-text" style="width:40%;"></div>
												</div>
											</td>
											<td class="fixed-md">
												<div class="skeleton skeleton-badge"></div>
											</td>
											<td class="fixed-xs text-center p-0">
												<div class="skeleton skeleton-btn"></div>
											</td>
										</tr>
									</ng-container>
									<ng-container *ngIf="!loading && attributes.length >= 1">
										<tr *ngFor="let item of attributes">
											<td class="fixed-xs text-center p-0">
												<label class="form-check form-check-customs form-check-sm m-0 d-flex align-items-center justify-content-center h-100">
												<input
													class="form-check-input cursor-pointer"
													type="checkbox"
													[checked]="selectedIds.has(item.id!)"
													(change)="toggleItem(item.id!, $event)"
												/>
												</label>
											</td>
											<td class="flex-column fw-medium">
												<div class="d-flex align-items-center gap-2" style="min-width:0;">
													<div class="d-flex flex-column" style="min-width:0;">
														<a class="text-gray-700 fs-8 fw-500 text-truncate-1">
															{{ item.name }}
														</a>

														<ul class="d-flex flex-wrap gap-4 mb-0 ps-4">
															@for (subitem of item.attributeValues; track $index) {
																<li class="text-primary fw-400 fs-8 me-2">
																	{{ subitem }}
																</li>
															}
														</ul>
													</div>
												</div>
											</td>
											<td class="fixed-md">
												<span class="badge rounded-pill text-gray-700"
												[ngClass]="{ 'bg-outline-danger': !item.status, 'bg-outline-success': item.status }">
													<span class="d-inline-block rounded-circle me-1"
														style="width: 6px; height: 6px"
														[ngClass]="{ 'bg-danger': !item.status, 'bg-success': item.status }"></span>
														{{ item.status ? 'Activo' : 'Inactivo' }}
												</span>
											</td>
											<td class="fixed-xs text-center p-0">
												<div class="dropdown">
													<button 
														class="icon-btn btn-action dropdown-toggle d-flex align-items-center justify-content-center mx-auto"
														data-bs-toggle="dropdown">
														<i class="bi bi-three-dots"></i>
													</button>
													<app-modal-delete
														[id]="'modalDelete-' + item.id"
														[title]="item.status 
															? 'Desactivar colaborador' 
															: 'Activar colaborador'"
														[description]="
															item.status
																? `El colaborador <b>${item.name}</b> dejará de tener acceso y quedará deshabilitado temporalmente.`
																: `El colaborador <b>${item.name}</b> volverá a estar activo y podrá acceder nuevamente al sistema.`
														"
														[textButton]="item.status ? 'Desactivar' : 'Activar'"
														(actionConfirmed)="setStatus(item.id!, item.status!)"
														[loadBtnDelete]="loadBtnDelete">
													</app-modal-delete>
													<div class="dropdown-menu menu-state-bg-light-primary" data-bs-display="static">
														<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
														[routerLink]="[`/products/attributes/groups/${id}/attributes/${item.id}/edit`]">
															<ion-icon name="create-outline"></ion-icon>
															Editar
														</a>

														<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
														data-bs-toggle="modal"
														[attr.data-bs-target]="'#modalDelete-' + item?.id">
															<ion-icon [name]="item?.status ? 'close-circle-outline' : 'checkmark-circle-outline'"></ion-icon>
															{{ item?.status ? 'Desactivar' : 'Activar' }}
														</a>

													</div>
												</div>
											</td>
										</tr>
									</ng-container>
									<ng-container *ngIf="!loading && attributes.length == 0 && !errorMsmServerListAttributes">
										<tr>
											<td colspan="4">
												<app-not-found [error]="{ message: 'No se encontraron registros.', statusCode: 404 }"></app-not-found>
											</td>
										</tr>
									</ng-container>
									<ng-container *ngIf="!loading && errorMsmServerListAttributes">
										<tr>
											<td colspan="4">
												<app-not-found [error]="errorMsmServerListAttributes"></app-not-found>
											</td>
										</tr>
									</ng-container>
								</tbody>

							</table>

						</div>

						<div class="d-flex justify-content-between " *ngIf="attributes.length >= 1">
							<div class="d-flex align-items-center gap-2 text-gray-600 fs-8 text-uppercase ls-1px">
								Ver
								<select class="form-select form-select-sm w-auto" name="limit" [(ngModel)]="limit" (change)="setLimit()">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="25">25</option>
								</select>
								Por pagina
							</div>
							<div class="d-flex align-items-center gap-3">
								<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"> </app-pagination>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<app-modal-delete
	[id]="'modalMultipleActive'"
	[title]="'Activación Multiple'"
	[description]="'El estado de los atributos serán actualizadas. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Activar'"
	(actionConfirmed)="onUpdateStatusMultiple(true)"
	[loadBtnDelete]="loadBtnMultipleStatus"
>
</app-modal-delete>

<app-modal-delete
	[id]="'modalMultipleDisabled'"
	[title]="'Desactivación Multiple'"
	[description]="'El estado de los atributos serán actualizadas. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Desactivar'"
	(actionConfirmed)="onUpdateStatusMultiple(false)"
	[loadBtnDelete]="loadBtnMultipleStatus"
>
</app-modal-delete>