<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <app-topbar></app-topbar>
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <app-sidebar></app-sidebar>
        <div class="app-main flex-column flex-row-fluid ">
            <div class="d-flex flex-column flex-column-fluid">
                <div id="kt_app_toolbar" class="app-toolbar py-5 py-lg-6" >
                    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
                        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                Colaboradores
                            </h1>
     
                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                                <li class="breadcrumb-item text-muted">
                                    <a [routerLink]="['/users/collaborators']" class="text-muted text-hover-primary">
                                        Colaboradores
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                                </li>
                                <li class="breadcrumb-item text-primary">Nuevo colaborador</li>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center gap-2 gap-lg-3">
                           
                        </div>
                    </div>
                </div>
                <div class="app-content  flex-column-fluid">
                    <div class="app-container container">

                        <app-alert *ngIf="msmErrorCollaborator.length >= 1" [classAlert]="'bg-light-danger border-danger border-dashed mb-7'"
						[title]="'¡Errores de Validación!'"
						[description]="errorsCollaborator"
						[type]="'errors'"
						[classIcon]="'svg-icon-danger'">
						</app-alert>

                        <div class="card mb-10">
                            <!--begin::Card header-->
                            <div class="card-header" style="background-color: #f8f8f8;">
                                <!--begin::Heading-->
                                <h4 class="card-title m-0 d-flex flex-column">
                                    <span class="fs-5 fw-600">Nuevo Colaborador</span>
                                    <span class="text-gray-600 mt-1 fw-400 fs-0-9rem">
                                      Agrega un nuevo colaborador completando los datos requeridos en el formulario.
                                    </span>
                                </h4>
                                <!--end::Heading-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Nombres</span>
                                            </label>
                                            <!--end::Label-->

                                            <input type="text" 
                                            class="form-control mb-1" 
                                            placeholder="Sheldon Lee"
                                            name="names" 
                                            [(ngModel)]="collaborator.names"
                                            [ngClass]="{'is-invalid': errorsCollaborator?.names}">

                                            <span class="fs-8 text-muted">Nombres completos del usuario.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Apellidos</span>
                                            </label>
                                            <!--end::Label-->

                                            <input type="text" 
                                            class="form-control mb-1" 
                                            placeholder="Cooper"
                                            name="surname" 
                                            [(ngModel)]="collaborator.surname"
                                            [ngClass]="{'is-invalid': errorsCollaborator?.surname}">

                                            <span class="fs-8 text-muted">Apellido paterno y materno del usuario.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Rol</span>
                                            </label>
                                            <!--end::Label-->

                                            <div [ngClass]="{ 'is-invalid': errorsCollaborator?.role }">
                                                <ng-select
                                                    [items]="rols"
                                                    bindLabel="name"
												    bindValue="value"
                                                    name="role"
                                                    [(ngModel)]="collaborator.role"
                                                    placeholder="Rol"
                                                    [clearable]="false"
                                                    [closeOnSelect]="true"
                                                    class="select-element mb-1"
                                                    appendTo="body"
                                                    [searchable]="false"
                                                >
                                                    <!-- Opción en el dropdown -->
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <span>{{ item.name }}</span>
                                                    </ng-template>

                                                    <!-- Opción seleccionada en el input -->
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <span>{{ item.name }}</span>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                            <span class="fs-8 text-muted">Clasificación del colaborador.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Correo electrónico</span>
                                            </label>
                                            <!--end::Label-->

                                            <input
                                                type="email"
                                                class="form-control mb-1"
                                                placeholder="sheldon.cooper@praxiscomercial.pe"
                                                name="email"
                                                [(ngModel)]="collaborator.email"
                                                [ngClass]="{ 'is-invalid': errorsCollaborator?.email }"
                                            />

                                            <span class="fs-8 text-muted">Correo corporativo del usuario.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Tipo de documento</span>
                                            </label>
                                            <!--end::Label-->

                                            <div [ngClass]="{ 'is-invalid': errorsCollaborator?.type_document }">
                                                <ng-select
                                                    [items]="identityDocuments"
                                                    bindLabel="name"
                                                    [(ngModel)]="collaborator.type_document"
                                                    placeholder="Tipo de documento"
                                                    [clearable]="false"
                                                    [closeOnSelect]="true"
                                                    class="select-element mb-1"
                                                    appendTo="body"
                                                >
                                                    <!-- Opción en el dropdown -->
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <div class="option-item d-flex gap-3 align-items-center">
                                                            <div class="option-name">{{ item.name }}</div>
                                                        </div>
                                                    </ng-template>

                                                    <!-- Opción seleccionada en el input -->
                                                    <ng-template ng-label-tmp let-item="item">
                                                        {{ item.name }}
                                                    </ng-template>
                                                </ng-select>
                                            </div>

                                            <span class="fs-8 text-muted">Tipo de documento de identidad.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Número de documento</span>
                                            </label>
                                            <!--end::Label-->

                                            <input type="text" 
                                            class="form-control mb-1" 
                                            placeholder="Número de documento"
                                            [disabled]="collaborator.type_document == undefined"
                                            [imask]="{ mask: (collaborator.type_document?.name == 'DNI') ? '00000000' : '0000000000000000000', unmask: true }"
                                            name="number_document" 
                                            [(ngModel)]="collaborator.number_document"
                                            [ngClass]="{'is-invalid': errorsCollaborator?.number_document}">

                                            <span class="fs-8 text-muted">Documento de identidad nacional.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Telefono</span>
                                            </label>
                                            <!--end::Label-->

                                            <input type="text" 
                                            class="form-control mb-1" 
                                            name="phone" 
                                            [(ngModel)]="collaborator.phone"
                                            [ngClass]="{'is-invalid': errorsCollaborator?.phone}"
                                            placeholder="987654321"
                                            [imask]="{ mask: '000000000', unmask: true }"
                                            >

                                            <span class="fs-8 text-muted">Número telefonico con prefijo peruano.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column fv-row fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                                                <span class="required">Contraseña</span>
                                            </label>
                                            <!--end::Label-->

                                            <div class="input-group mb-1">
                                                <input 
                                                    type="text" 
                                                    class="form-control border-end-0" 
                                                    placeholder="Contraseña segura"
                                                    name="password" 
                                                    [(ngModel)]="collaborator.password"
                                                    [ngClass]="{'is-invalid': errorsCollaborator?.password}"
                                                >
                                                <span class="input-group-text bg-white border-start-0 px-5"
                                                [ngClass]="{'border-danger': errorsCollaborator?.password}">
                                                    <a 
                                                    class="text-primary cursor-pointer" 
                                                    (click)="generatePassword()" 
                                                    style="font-size: 0.85rem; text-decoration: none;">
                                                    Generar
                                                    </a>
                                                </span>
                                            </div>

                                            <span class="fs-8 text-muted">Contraseña de acceso a la plataforma.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Card body-->
                            <div class="card-footer"  style="background-color: #f8f8f8;">
                                <a *ngIf="!loadBtn" class="btn btn-sm btn-primary my-1 cursor-pointer" (click)="create()">
                                    Crear colaborador
                                </a>
                                <button *ngIf="loadBtn" class="btn btn-sm btn-primary my-1 cursor-pointer" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
                                    <span role="status">Procesando...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
