.brand-image {
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin-right: 8px;
	border: 1px dashed #c4cada;
	border-radius: 50%;
}

.active{
	background-color: #1B84FF !important
}

.nav-scroll {
    display: flex;
    flex-wrap: nowrap;       
    overflow-x: auto;     
    white-space: nowrap;    
    gap: 6px;               
    scrollbar-width: thin; 
	padding-bottom: 5px;
}

.nav-scroll::-webkit-scrollbar {
    height: 6px;           
}

.nav-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
.sidebar {
	width: 320px;
	min-width: 320px;
	max-width: 320px;
}

.content {
	width: 100%;
    min-width: 0;
    margin-left: 18px;
}