<div class="dropdown">
	<div class="position-relative w-100 dropdown-toggle" data-bs-toggle="dropdown" #trigger>
		<input
			type="text"
			autocomplete="off"
			readonly
			class="form-control form-control-sm w-100 text-ellipsis cursor-pointer custom-trigger pe-12"
			style="font-size: 0.85rem !important"
			[ngClass]="{ 'form-control-sm': sizeClass == 'sm' }"
			aria-expanded="false"
			[value]="getSelectedNames()"
			[placeholder]="placeholder"
			placement="top"
			[ngbTooltip]="getSelectedNames()"
			tooltipClass="tooltip-dark"
		/>

		@if (selectedItems.length >= 1) {
			<span class="badge bg-light-primary text-primary position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%); z-index: 5">
				{{ selectedItems.length }}
			</span>
		}
	</div>

	<div id="dropdown" class="dropdown-menu" data-bs-display="static" data-bs-auto-close="outside" (click)="$event.stopPropagation()">
		<!-- HEADER -->
		<div class="dropdown-header-custom p-4">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex flex-column">
					<span class="text-uppercase fs-6 text-gray-800 fw-700 ls-1px">
						{{ title }}
					</span>
					<small class="dropdown-subtitle text-gray-600 fw-400">Seleccion configuraciones en categorías</small>
				</div>
			</div>
		</div>

		<!-- ITEMS -->
		<div class="items-container" style="overflow-y: scroll !important">
			<div class="dropdown-item-custom d-flex justify-content-between mb-0" *ngFor="let item of displayData">
				<label class="form-check form-check-custom form-check-solid m-0 cursor-pointer">
					<input class="form-check-input me-2" type="checkbox" [(ngModel)]="item.checked" [checked]="item.checked" style="border: 1px dashed #ccc" />
					<div class="d-flex flex-column">
						<small class="form-check-label text-gray-800 fs-8">
							{{ item.name }}
						</small>
						<small class="text-gray-500" style="margin-left: 0.55rem; font-size: 0.75rem !important">
							{{ item.description }}
						</small>
					</div>
				</label>
			</div>
		</div>
		<!-- FOOTER -->
		<div class="dropdown-footer p-4">
			<div class="d-flex justify-content-end gap-2">
				<button class="btn btn-sm btn-dark d-flex align-items-center px-4 py-2 fs-8" (click)="confirmSelection()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
