.dropdown-menu {
	position: fixed !important; /* o absolute, pero usando popper */
	z-index: 1050; /* mayor que la tabla */
}

.dropdown-item.disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed !important;
}
