<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">Marcas</h1>

							<ul class="breadcrumb breadcrumb-separatorless fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-primary fw-600">Marcas</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3">
							<a
							[routerLink]="['/products/brands/create']"
							routerLinkActive="router-link-active"
							class="btn btn-sm fw-bold btn-primary d-inline-flex align-items-center gap-1"
							>
								<i class="bi bi-award"></i>
								Nueva Marca
							</a>
						</div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container-fluid">
						<div class="row g-3 g-lg-4">
							<div class="col-12">
								<div class="d-flex justify-content-between align-items-center flex-nowrap gap-2 mt-5">
									<div class="d-flex gap-2">
										<div>
											<div class="d-flex align-items-center gap-2">
												<div class="position-relative">
													<input
														type="text"
														class="form-control form-control-sm w-300px pe-10"
														placeholder="Buscar marca"
														name="filter"
														[(ngModel)]="filter"
														(keyup.enter)="redirect()"
													/>

													<i
														class="bi bi-search position-absolute cursor-pointer"
														style="right: 15px; top: 50%; transform: translateY(-50%)"
														(click)="redirect()"
													></i>
												</div>
												<button
													type="button"
													class="btn btn-sm btn-icon btn-light-primary d-flex align-items-center justify-content-center"
													(click)="resetFilters()"
													[disabled]="loading"
												>
													<span
														*ngIf="loading"
														class="spinner-border spinner-border-sm"
														role="status"
														aria-hidden="true"
													></span>
													<i
														*ngIf="!loading"
														class="bi bi-arrow-clockwise fs-5"
													></i>
												</button>
											</div>
										</div>
									</div>
									<div class="dropdown">
										<button
											disabled
											class="btn btn-dark btn-sm d-flex align-items-center gap-2 my-1"
											type="button"
											id="dropdownMenuButton"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											<ion-icon name="settings-outline" class="fs-5"></ion-icon>
											<span>Opciones</span>
											<ion-icon name="chevron-down-outline" class="fs-6"></ion-icon>
										</button>
										<ul class="dropdown-menu menu-state-bg-light-primary" aria-labelledby="dropdownMenuButton">
										</ul>
									</div>
								</div>

								<div class="my-7">
									<div class="filters-container">
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ESTADO</span>
												</div>
												<ng-select
													[items]="statusTable"
													bindLabel="name"
													bindValue="value"
													name="status"
													[(ngModel)]="status"
													placeholder="Estado"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ORDEN</span>
												</div>
												<ng-select
													[items]="sortColumns"
													bindLabel="name"
													bindValue="value"
													name="sort"
													[(ngModel)]="sort"
													placeholder="Orden"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<ion-icon [name]="item.icon"></ion-icon>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<ion-icon [name]="item.icon"></ion-icon>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">PAÍS</span>
												</div>
												<app-menu-select-countries 
												(applyCountries)="getCountries($event)"
												[selectedCountries]="countries"
												[title]="'Paises'"
												[placeholder]="'Filtrar por paises'"
												[sizeClass]="'sm'">
												</app-menu-select-countries>
											</div>
										</div>
										<div class="filter-item">
											
										</div>
									</div>
									<button
										class="btn btn-xs bg-light-primary my-3 d-inline-flex align-items-center gap-2"
										(click)="redirect()"
										[disabled]="loading"
									>
										<ng-container *ngIf="!loading; else loadingTpl">
											<ion-icon name="search-outline" class="fs-6 text-primary"></ion-icon>
											<span class="text-primary">Buscar</span>
										</ng-container>

										<ng-template #loadingTpl>
											<span class="spinner-border spinner-border-sm text-primary" aria-hidden="true"></span>
											<span class="text-primary">Buscando...</span>
										</ng-template>
									</button>
								</div>

								<div class="table-wrapper mb-7">
									<table class="table custom-table align-middle mb-0">
										<thead>
											<tr>
												<th class="fixed-xs text-center p-0" style="position: unset !important;">
													<div class="dropdown">
														<button 
															class="btn btn-icon btn-dark h-25px w-25px"
															type="button"
															placement="top" 
															tooltipClass="tooltip-dark"
															container="body"
															[disabled]="!hasSelectedBrands()"
															id="dropdownTable"
															data-bs-toggle="dropdown"
															aria-expanded="false">
															<ion-icon name="settings-outline" class="fs-5"></ion-icon>
														</button>
														<ul class="dropdown-menu menu-state-bg-light-primary" 
														aria-labelledby="dropdownTable">
															<li>
																<a class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-7"
																[class.disabled]="selectedIds.size === 0"
																[attr.data-bs-toggle]="selectedIds.size > 0? 'modal': null"
																[attr.data-bs-target]="selectedIds.size > 0? '#modalMultipleActive': null"
																style="text-transform: capitalize !important;">
																	<ion-icon name="checkmark-circle-outline" class="text-primary"></ion-icon>
																	Activar
																</a>
															</li>
															<li>
																<a class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-7"
																[class.disabled]="selectedIds.size === 0"
																[attr.data-bs-toggle]="selectedIds.size > 0? 'modal': null"
																[attr.data-bs-target]="selectedIds.size > 0? '#modalMultipleDisabled': null"
																style="text-transform: capitalize !important;">
																	<ion-icon name="close-circle-outline" class="text-danger"></ion-icon>
																	Desactivar
																</a>
															</li>
														</ul>
													</div>
												</th>
												<th class="flex-column">
													Marca
												</th>
												<th class="fixed-md">
													Sitio Oficial
												</th>
												<th class="fixed-md">
													Productos
												</th>
												<th class="fixed-md">
													Estado
												</th>
												<th class="fixed-xs text-center text-center">
													
												</th>
											</tr>
										</thead>
										<tbody>
											@if (loading) {
												<tr *ngFor="let item of [1,2,3,4,5,6]">
													<td class="fixed-xs text-center p-0">
														<div class="skeleton skeleton-check"></div>
													</td>
													<td class="flex-column fw-medium">
														<div class="d-flex align-items-center">
															<div class="skeleton me-4" style="width:30px !important; height:30px;"></div>

															<div class="d-flex flex-column gap-2" style="width:100%; max-width:250px">
																<div class="skeleton skeleton-text" style="width:60%;"></div>
																<div class="skeleton skeleton-text" style="width:40%;"></div>
															</div>
														</div>
													</td>
													<td class="fixed-md">
														<div class="skeleton skeleton-text" style="width:60%;"></div>
													</td>
													<td class="fixed-md">
														<div class="skeleton skeleton-badge" style="height: 26.07px !important; width: 150px;"></div>
													</td>
													<td class="fixed-md">
														<div class="skeleton skeleton-badge"></div>
													</td>
													
													<td class="fixed-xs text-center p-0">
														<div class="skeleton skeleton-btn"></div>
													</td>
												</tr>
											}@else if (errorMsmServerListBrands) {
												<tr>
													<td colspan="5">
														<app-not-found [error]="errorMsmServerListBrands"></app-not-found>
													</td>
												</tr>
											}@else if (brands.length >= 1) {
												<tr *ngFor="let item of brands">
													<td class="fixed-xs text-center p-0">
														<label class="form-check form-check-customs form-check-sm m-0 d-flex align-items-center justify-content-center h-100">
														<input
															class="form-check-input cursor-pointer"
															type="checkbox"
															[checked]="selectedIds.has(item.id!)"
															(change)="toggleItem(item.id!, $event)"
														/>
														</label>
													</td>
													<td class="flex-column fw-medium">
														<div class="d-flex align-items-center gap-2" style="min-width:0;">
															<div class="symbol me-3" 
																style="height:30px; width:30px; border:1px dashed #e3e3e3; flex-shrink:0;">
																<img [src]="item.logoUrl" 
																class="h-100 w-100"  
																fallbackImage/>
															</div>
															<div class="d-flex flex-column" style="min-width:0;">
																<a class="text-gray-700 fs-8 fw-500 text-truncate-1">
																	{{ item.name }}
																</a>

																<small class="text-primary fw-400 text-truncate-1 fs-8">
																	#{{ item.prefix }}-{{ item.code! | padCode : 6 }}
																</small>
															</div>
														</div>
													</td>
													<td class="fixed-md position-relative">
														<small class="text-gray-700">
															{{item.websiteUrl}}
														</small>
														<a class="position-absolute pt-1 px-2 bg-white cursor-pointer" 
														[href]="item.websiteUrl"
														target="_blank"
														style="right: 7px; bottom: 22%;">
															<ion-icon name="open-outline"></ion-icon>
														</a>
													</td>
													<td class="fixed-md">
														<ng-container *ngIf="item.productsPreview!.length >= 1">
															<a class="symbol-group symbol-hover flex-nowrap"
															[routerLink]="['/products/brands/' + item?.id + '/products']">
																<div class="symbol symbol-25px symbol-circle" *ngFor="let prev of item.productsPreview"
																style="border: 1px dashed #ccc;" placement="top" 
																[ngbTooltip]="prev.name"
																tooltipClass="tooltip-dark">
																	<img alt="Pic" [src]="prev.cover" fallbackImage>
																</div>
																<a class="symbol symbol-25px symbol-circle" *ngIf="item.moreProducts! >= 1">
																	<span class="symbol-label bg-dark text-gray-300 fs-8 fw-bold">+{{item.moreProducts!}}</span>
																</a>
															</a>
															
														</ng-container>
														<ng-container *ngIf="item.productsPreview!.length == 0">
															<a class="btn btn-xs bg-light text-primary cursor-pointer d-flex align-items-center gap-2 fw-600 text-truncate-1 bg-light-primary fs-8"
															[routerLink]="['/products/brands/' + item?.id + '/products']"
															style="border-radius: 3rem !important;">
																<ion-icon name="open-outline"></ion-icon>
																<small class="text-uppercase">Productos</small>
															</a>
														</ng-container>
													</td>
													<td class="fixed-md">
														<span class="badge rounded-pill text-gray-700"
														[ngClass]="{ 'bg-outline-danger': !item.status, 'bg-outline-success': item.status }">
															<span class="d-inline-block rounded-circle me-1"
																style="width: 6px; height: 6px"
																[ngClass]="{ 'bg-danger': !item.status, 'bg-success': item.status }"></span>
																{{ item.status ? 'Activo' : 'Inactivo' }}
														</span>
													</td>
													<td class="fixed-xs text-center p-0">
														<div class="dropdown">
															<button 
																class="icon-btn btn-action dropdown-toggle d-flex align-items-center justify-content-center mx-auto"
																data-bs-toggle="dropdown">
																<i class="bi bi-three-dots"></i>
															</button>
															<app-modal-delete
																[id]="'modalDelete-' + item.id"
																[title]="item.status
																	? 'Desactivar marca'
																	: 'Activar marca'"
																[description]="
																	item.status
																		? `La marca <b>${item.name}</b> dejará de estar disponible y se ocultará temporalmente del sistema.`
																		: `La marca <b>${item.name}</b> volverá a estar disponible y visible dentro del sistema.`
																"
																[textButton]="item.status ? 'Desactivar' : 'Activar'"
																(actionConfirmed)="setStatus(item.id!, item.status!)"
																[loadBtnDelete]="loadBtnDelete">
															</app-modal-delete>
															<div class="dropdown-menu menu-state-bg-light-primary" data-bs-display="static">
																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																[routerLink]="['/products/brands/' + item?.id + '/edit']">
																	<ion-icon name="create-outline"></ion-icon>	
																	Editar
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																data-bs-toggle="modal"
																[attr.data-bs-target]="'#modalDelete-' + item?.id">
																	<ion-icon [name]="item?.status ? 'close-circle-outline' : 'checkmark-circle-outline'"></ion-icon>
																	{{ item?.status ? 'Desactivar' : 'Activar' }}
																</a>

																<a class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
																[routerLink]="['/products/brands/' + item?.id + '/products']">
																	<ion-icon name="cube-outline"></ion-icon>
																	Ver productos
																</a>

															</div>
														</div>
													</td>
												</tr>
											}@else {
												<tr>
													<td colspan="5">
														<app-not-found [error]="{ message: 'No se encontraron registros.', statusCode: 404 }"></app-not-found>
													</td>
												</tr>
											}
										</tbody>

									</table>

								</div>

								<div class="d-flex justify-content-between" *ngIf="brands.length >= 1">
									<div class="d-flex align-items-center gap-2 text-gray-600 fs-8 text-uppercase ls-1px">
										Ver
										<select class="form-select form-select-sm w-auto" name="limit" [(ngModel)]="limit" (change)="setLimit()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="25">25</option>
										</select>
										Por pagina
									</div>
									<div class="d-flex align-items-center gap-3">
										<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"> </app-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal-delete
	[id]="'modalMultipleActive'"
	[title]="'Activación Multiple'"
	[description]="'El estado de las marcas serán actualizadas. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Activar'"
	(actionConfirmed)="onUpdateStatusMultiple(true)"
	[loadBtnDelete]="loadBtnMultipleStatus"
>
</app-modal-delete>

<app-modal-delete
	[id]="'modalMultipleDisabled'"
	[title]="'Desactivación Multiple'"
	[description]="'El estado de las marcas serán actualizadas. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Desactivar'"
	(actionConfirmed)="onUpdateStatusMultiple(false)"
	[loadBtnDelete]="loadBtnMultipleStatus"
>
</app-modal-delete>