.brand-image {
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin-right: 8px;
	border: 1px dashed #c4cada;
	border-radius: 50%;
}

.sidebar {
	width: 320px;
	min-width: 320px;
	max-width: 320px;
}

.sidebar {
  position: sticky;
  top: 100px;
  align-self: flex-start;
}


.content {
	width: 100%;
    min-width: 0;
    margin-left: 18px;
}

.fs-1rem{
	font-size: 1rem !important;
}

.nav-link.active{
	color: #fff !important;
}

.input-container{
	display: block;
    width: 100%;
    padding: .775rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
	border: 1px solid #DBDFE9;
	border-radius: .475rem;
	font-size: 1rem !important;
    font-family: 'Lexend' !important;
    color: #4b5675 !important;
    font-weight: 500;
	height: 42.93px !important;
}