<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-5 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Categorías</h1>

							<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/products/categories']" class="text-muted text-hover-primary"> Categorías </a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary">Editar categoría</li>
							</ul>
						</div>
						<div class="d-flex align-items-center gap-2 gap-lg-3"></div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container">

						<ng-container *ngIf="option == 1">
							<app-alert *ngIf="msmErrorUpdateCategory.length >= 1" [classAlert]="'bg-light-danger border-danger border-dashed mb-7'"
							[title]="'¡Errores de Validación!'"
							[description]="errorsCategory"
							[type]="'errors'"
							[classIcon]="'svg-icon-danger'">
							</app-alert>
						</ng-container>

						<ng-container *ngIf="option == 2">
							<app-alert *ngIf="msmErrorCreateSubcategory.length >= 1" [classAlert]="'bg-light-danger border-danger border-dashed mb-7'"
							[title]="'¡Errores de Validación!'"
							[description]="errorsSubcategory"
							[type]="'errors'"
							[classIcon]="'svg-icon-danger'">
							</app-alert>
						</ng-container>
						


						<div class="card mb-10">
							<!--begin::Card header-->
							<div class="card-header" style="background-color: #f8f8f8;">
								<!--begin::Heading-->
								<h4 class="card-title m-0 d-flex flex-column">
									<span class="fs-5 fw-600">Editar Categoría</span>
									<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat..
									</span>
								</h4>
								<!--end::Heading-->
							</div>
							<!--end::Card header-->
							<div class="card-body">
								<ul class="nav nav-pills">
									<li class="nav-item">
										<a class="nav-link cursor-pointer bg-light" [ngClass]="{ 'active': option == 1 }" (click)="setOption(1)">General</a>
									</li>
									<li class="nav-item">
										<a class="nav-link cursor-pointer bg-light" [ngClass]="{ 'active': option == 2 }" (click)="setOption(2)">Subcategorías</a>
									</li>
								</ul>
							</div>
							<!--begin::Card body-->
							<ng-container *ngIf="option == 1">
								<div class="card-body pt-1" *ngIf="!loading">
									<!--begin::Table wrapper-->
									<ng-container *ngIf="!errorMsmServerGetCategory">
										<div class="row">
											<div class="col-lg-6">
												<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
														<span class="required">Título</span>
													</label>
													<!--end::Label-->

													<input type="text" 
													class="form-control mb-1" 
													placeholder="Computers & Accessories"
													name="name" 
													[(ngModel)]="category.name"
													[ngClass]="{'is-invalid': errorsCategory?.name}">

													<span class="fs-8 text-muted">Título de la categoría.</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
														<span class="required">Descripción</span>
													</label>
													<!--end::Label-->

													<textarea
														type="text"
														class="form-control mb-1"
														placeholder="Descripción de la categoría"
														name="description"
														[(ngModel)]="category.description"
														[ngClass]="{ 'is-invalid': errorsCategory?.description }"
														cdkTextareaAutosize
														cdkAutosizeMinRows="2"
													></textarea>

													<span class="fs-8 text-muted">Descripción de la categoría.</span>
												</div>
											</div>
										</div>
										<div class="row mb-5">
											<div class="col-lg-12">
												<div class="d-flex flex-column fv-row fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
														<span>Icono</span>
													</label>
													<!--end::Label-->

													<textarea
														name="icon"
														[(ngModel)]="category.icon"
														class="form-control mb-1"
														[ngClass]="{ 'is-invalid': errorsCategory?.icon }"
														placeholder="Código SVG"
														cdkTextareaAutosize
														cdkAutosizeMinRows="2"
													></textarea>

													<span class="fs-8 text-muted">Icono visible en la tienda.</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 my-3">
												<h4 class="mb-0">Configuraciones</h4>
												<span class="text-gray-600 mt-1 fw-400 fs-0-9rem">
													Activa los bloques de información que se mostrarán durante la creación del producto.
												</span>
											</div>
											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isDimensions" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">Dimensiones</span>
														<small class="d-block lh-sm">
															Registra alto, ancho, largo, peso y otras medidas físicas
															importantes del producto.
														</small>
													</span>
												</label>
											</div>

											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isCharacteristics" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">Características</span>
														<small class="d-block lh-sm">
															Agrega funciones, ventajas, detalles técnicos y atributos
															principales del producto.
														</small>
													</span>
												</label>
											</div>

											<div class="col-12">
												<div class="separator separator-dashed"></div>
											</div>

											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isConditiom" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">Condición</span>
														<small class="d-block lh-sm">
															Indica si el producto es nuevo, usado o se encuentra
															reacondicionado.
														</small>
													</span>
												</label>
											</div>

											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isWarranty" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">Garantía</span>
														<small class="d-block lh-sm">
															Define tiempo de cobertura, tipo de garantía y condiciones
															aplicables.
														</small>
													</span>
												</label>
											</div>

											<div class="col-12">
												<div class="separator separator-dashed"></div>
											</div>

											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isCountryOfOrigin" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">País de origen</span>
														<small class="d-block lh-sm">
															Indica el país donde fue fabricado, producido o ensamblado
															el producto.
														</small>
													</span>
												</label>
											</div>

											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isMaterial" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">Material principal</span>
														<small class="d-block lh-sm">
															Especifica el material predominante utilizado en su
															fabricación.
														</small>
													</span>
												</label>
											</div>

											<div class="col-12">
												<div class="separator separator-dashed"></div>
											</div>

											<div class="col-12 col-md-6 py-4">
												<label class="form-check form-check-custom form-check-solid align-items-start">
													<input class="form-check-input me-3 mt-1" type="checkbox" [(ngModel)]="category.isTemperature" />
													<span class="form-check-label d-flex flex-column align-items-start">
														<span class="fw-500 text-gray-800 fs-6 mb-1">Temperatura</span>
														<small class="d-block lh-sm">
															Indica el rango ideal para uso, conservación o almacenaje.
														</small>
													</span>
												</label>
											</div>
										</div>
									</ng-container>
									<!--end::Table wrapper-->
									<ng-container *ngIf="errorMsmServerGetCategory">
										<app-not-found [error]="errorMsmServerGetCategory"></app-not-found>
									</ng-container>
								</div>
								<div class="card-body pt-1" *ngIf="loading">
									<div class="row">
										<div class="col-lg-6">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
													<span class="required">Título</span>
												</label>
												<!--end::Label-->

												<div class="position-relative mb-1 min-w-400px">
													<div class="d-flex justify-content-end gap-2">
														<div class="form-control-solid form-control-load" style="height: 42.92px; width: 100%"></div>
													</div>
												</div>

												<span class="fs-8 text-muted">Título de la categoría.</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
													<span class="required">Descripción</span>
												</label>
												<!--end::Label-->

												<div class="position-relative mb-1 min-w-400px">
													<div class="d-flex justify-content-end gap-2">
														<div class="form-control-solid form-control-load" style="height: 64.35px; width: 100%"></div>
													</div>
												</div>

												<span class="fs-8 text-muted">Descripción de la categoría.</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="d-flex flex-column fv-row fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
													<span class="required">Icono</span>
												</label>
												<!--end::Label-->

												<div class="position-relative mb-1 min-w-400px">
													<div class="d-flex justify-content-end gap-2">
														<div class="form-control-solid form-control-load" style="height: 64.35px; width: 100%"></div>
													</div>
												</div>

												<span class="fs-8 text-muted">Icono visible en la tienda.</span>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="option == 2">
								<div class="card-body pt-1">
									<div class="mb-10">
										<ng-container *ngIf="!errorMsmServerGetSubcategory">
											<div class="row">
												<div class="col-lg-6">
													<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
														<!--begin::Label-->
														<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
															<span class="required">Título</span>
														</label>
														<!--end::Label-->

														<div class="position-relative mb-1">
															<input
																type="text"
																class="form-control pe-15"
																placeholder="Computers & Accessories"
																name="name"
																[(ngModel)]="subcategory.name"
																[ngClass]="{ 'is-invalid': errorsSubcategory?.name }"
																(keyup.ENTER)="add()"
															/>

															<span
																class="text-primary position-absolute top-50 end-0 translate-middle-y me-3 fw-600 fs-8"
																style="pointer-events: none;background: #fff;padding: 1px;"
															>
																[ENTER]
															</span>
														</div>

														<span class="fs-8 text-muted">Título de la subcategoría.</span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12">
													<div class="d-flex flex-column mb-5 fv-row fv-plugins-icon-container">
														<!--begin::Label-->
														<label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
															<span>Icono</span>
														</label>
														<!--end::Label-->

														<textarea
															name="icon"
															[(ngModel)]="subcategory.icon"
															class="form-control mb-1"
															[ngClass]="{ 'is-invalid': errorsSubcategory?.icon }"
															placeholder="Código SVG"
															cdkTextareaAutosize
															cdkAutosizeMinRows="2"
														></textarea>

														<span class="fs-8 text-muted">Icono visible en la tienda.</span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-12 d-flex gap-5">
													<button
														class="btn btn-sm btn-primary my-1 cursor-pointer"
														[disabled]="loadingSubcategories || loadBtnSubcat || errorMsmServerGetSubcategory"
														(click)="!loadingSubcategories && !loadBtnSubcat && !errorMsmServerGetSubcategory && add()"
														type="button"
													>
														<ng-container *ngIf="loadBtnSubcat">
															<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
															<span role="status">Procesando...</span>
														</ng-container>

														<ng-container *ngIf="!loadBtnSubcat">
															{{ typeForm == 'edit' ? 'Actualizar' : 'Agregar' }}
														</ng-container>
													</button>

													<button class="btn btn-sm btn-warning my-1 cursor-pointer text-dark" *ngIf="typeForm == 'edit'" (click)="cancelEdit()">
														Cancelar Edición
													</button>
												</div>
											</div>
										</ng-container>

										<ng-container *ngIf="errorMsmServerGetSubcategory">
											<app-not-found [error]="errorMsmServerGetSubcategory"></app-not-found>
										</ng-container>
									</div>

									<div class="d-flex justify-content-end mb-5">
										<div class="dropdown">
											<button
												class="btn btn-primary btn-sm dropdown-toggle my-1"
												type="button"
												id="dropdownMenuButton"
												data-bs-toggle="dropdown"
												aria-expanded="false"
											>
												<i class="bi bi-sliders"></i> Opciones
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<li>
													<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#modalExport'">
														<i class="bi bi-filetype-xls me-2"></i> Exportar XLS
													</a>
												</li>
												<li>
													<hr class="dropdown-divider" />
												</li>
												<li>
													<a class="dropdown-item" href="#"> <i class="bi bi-folder-symlink me-2"></i> Importar </a>
												</li>
												<li *ngIf="selectedIds.size > 0">
													<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#modalMultipleActive'">
														<i class="bi bi-check-circle me-2 text-primary"></i> Activar
													</a>
												</li>

												<li *ngIf="selectedIds.size > 0">
													<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#modalMultipleDisabled'">
														<i class="bi bi-x-circle me-2 text-danger"></i> Desactivar
													</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="table-responsive" *ngIf="!errorMsmServerGetSubcategory">
										<table class="table table-bordered table-fixed modern-table mb-0" 
										[ngClass]="{
										'h-100': subcategories.length == 0 && !loading,
										'table-hover': subcategories.length >= 1,
										}">
											<colgroup>
												<col style="width: 20px;">
												<col *ngFor="let col of columns" [ngClass]="col.classCol">
												<col style="width: 38px">
											</colgroup>
											<thead style="background-color: #f8f8f8;">
												<tr>
													<th></th>
													<th
														*ngFor="let col of columns">
														<div class="d-flex justify-content-between align-items-center">
															<span class="text-dark fw-600 fs-7 text-uppercase">{{ col.label }}</span>
														</div>
													</th>
													<th>
													</th>
												</tr>
											</thead>
											<tbody>
												<!-- ======================= LOADING (SKELETON) ======================= -->
												<ng-container *ngIf="loadingSubcategories">
													<tr *ngFor="let s of arrDataSkull">
														<td style="width: 20px;">
															<div class="form-control-solid form-control-load" style="height:20px; width: 20px; border-radius: 3px"></div>
														</td>
														<td class="col-w-xs-200 col-w-md-250 h-45px">
															<div class="d-flex align-items-center gap-2">
																<div class="form-control-solid form-control-load" style="width: 32px; height: 32px; border-radius: 5px"></div>

																<div class="d-flex flex-column gap-2" style="width: 100%; max-width: 250px">
																	<div class="form-control-solid form-control-load" style="height: 10px; width: 60%; border-radius: 3px"></div>
																	<div class="form-control-solid form-control-load" style="height: 9px; width: 40%; border-radius: 3px"></div>
																</div>
															</div>
														</td>

														<td class="col-w-xs-100 h-45px">
															<div class="form-control-solid form-control-load" style="height: 20px; width: 70px; border-radius: 50rem"></div>
														</td>

														<td class="col-actions h-45px">
															<div class="form-control-solid form-control-load" style="height: 30px; width: 35px; border-radius: 5px"></div>
														</td>
													</tr>
												</ng-container>

												<!-- ======================= DATOS ======================= -->
												<ng-container *ngIf="!loadingSubcategories && subcategories.length >= 1">
													<tr *ngFor="let item of subcategories">
														<td style="width: 20px;"> 
															<label class="form-check form-check-custom form-check-solid form-check-sm m-0 d-flex justify-content-center">
																<input
																	class="form-check-input cursor-pointer"
																	type="checkbox"
																	[checked]="selectedIds.has(item.id!)"
																	(change)="toggleItem(item.id!, $event)"
																/>
															</label>
														</td>
														<td class="col-w-xs-200 col-w-md-250 h-45px">
															<div class="d-flex align-items-center gap-2">
																<div class="symbol me-3">
																	<span *ngIf="item.icon"
																		class="symbol-label fw-bold"
																		style="height: 30px; width: 30px; border: 1px dashed #e3e3e3"
																		[innerHTML]="item.safeIcon"
																	>
																	</span>
																	<span *ngIf="!item.icon" class="symbol-label fw-bold"
																		style="height: 30px; width: 30px; border: 1px dashed #e3e3e3">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
																		<path d="M11.276 13.654C11.276 13.2713 11.3367 12.9447 11.458 12.674C11.5887 12.394 11.738 12.1653 11.906 11.988C12.0833 11.8107 12.3167 11.61 12.606 11.386C12.942 11.1247 13.1893 10.896 13.348 10.7C13.5067 10.4947 13.586 10.2427 13.586 9.944C13.586 9.636 13.4833 9.356 13.278 9.104C13.082 8.84267 12.69 8.712 12.102 8.712C11.486 8.712 11.066 8.866 10.842 9.174C10.6273 9.482 10.52 9.82267 10.52 10.196L10.534 10.574H8.826C8.78867 10.3967 8.77 10.2333 8.77 10.084C8.77 9.552 8.90067 9.07133 9.162 8.642C9.42333 8.20333 9.81067 7.858 10.324 7.606C10.8467 7.354 11.4813 7.228 12.228 7.228C13.1987 7.228 13.9687 7.44733 14.538 7.886C15.1073 8.31533 15.392 8.92667 15.392 9.72C15.392 10.168 15.322 10.5507 15.182 10.868C15.042 11.1853 14.874 11.442 14.678 11.638C14.482 11.834 14.2253 12.0533 13.908 12.296C13.544 12.576 13.2733 12.8233 13.096 13.038C12.928 13.2527 12.844 13.528 12.844 13.864V14.326H11.276V13.654ZM11.192 15.222H12.928V17H11.192V15.222Z" fill="currentColor"/>
																		</svg>
																	</span>
																</div>

																<div class="d-flex flex-column">
																	<a class="text-decoration-none text-dark fs-8 fw-600">{{ item.name }}</a>
																	<small class="text-gray-800">{{ item.slug }}</small>
																</div>
															</div>
														</td>

														<td class="col-w-xs-100 h-45px">
															<span class="badge rounded-pill text-dark fw-800"
																[ngClass]="{ 'bg-outline-danger': !item.status, 'bg-outline-success': item.status }">
															<span class="d-inline-block rounded-circle me-1"
																	style="width: 8px; height: 8px"
																	[ngClass]="{ 'bg-danger': !item.status, 'bg-success': item.status }"></span>
															{{ item.status ? 'Activo' : 'Inactivo' }}
															</span>
														</td>

														<td class="col-actions h-45px">
															<div class="dropdown">
																<button class="icon-btn dropdown-toggle"
																data-bs-toggle="dropdown"
																aria-expanded="false">
																	<i class="bi bi-three-dots"></i>
																</button>

																<app-modal-delete
																	[id]="'modalDelete-' + item.id"
																	[title]="item.status ? 'Desactivar Subcategoría' : 'Activar Subcategoría'"
																	[description]="
																		item.status
																			? '¿Estás seguro de que deseas desactivar esta subcategoría?'
																			: '¿Estás seguro de que deseas activar esta subcategoría?'
																	"
																	[textButton]="item.status ? 'Desactivar' : 'Activar'"
																	(actionConfirmed)="setStatus(item.id, item.status)"
																	[loadBtnDelete]="loadBtnDelete"
																>
																</app-modal-delete>

																<div id="dropdown" class="dropdown-menu" data-bs-display="static">
																	<a class="dropdown-item cursor-pointer" (click)="editSubcategory(item)"> <i class="bi bi-pen me-2"></i>Editar </a>
																	<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#modalDelete-' + item?.id">
																		<i *ngIf="item?.status" class="bi bi-x-lg me-2"></i>
																		<i *ngIf="!item?.status" class="bi bi-check2 me-2"></i>
																		{{ item?.status ? 'Desactivar' : 'Activar' }}
																	</a>
																</div>
															</div>
														</td>

													</tr>
												</ng-container>

												<!-- ======================= SIN RESULTADOS ======================= -->
												<tr *ngIf="!loadingSubcategories && subcategories.length == 0">
													<td colspan="4">
														<app-not-found [error]="{ message: 'No se encontraron registros que coincidan.', statusCode: 404 }"></app-not-found>
													</td>
												</tr>

												<!-- ======================= ERROR ======================= -->
												<tr *ngIf="!loadingSubcategories && errorMsmServerGetSubcategory">
													<td colspan="4">
														<app-not-found [error]="errorMsmServerGetSubcategory"></app-not-found>
													</td>
												</tr>

											</tbody>

										</table>
									</div>
								</div>
							</ng-container>
							<!--end::Card body-->
							<div class="card-footer" style="background-color: #f8f8f8;" *ngIf="option == 1">
								<button
									class="btn btn-sm btn-primary my-1 cursor-pointer"
									[disabled]="loading || loadBtn || errorMsmServerGetCategory"
									(click)="!loading && !loadBtn && !errorMsmServerGetCategory && update()"
									type="button"
								>
									<ng-container *ngIf="loadBtn">
										<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
										<span role="status">Procesando...</span>
									</ng-container>

									<ng-container *ngIf="!loadBtn"> Actualizar categoría </ng-container>
								</button>
							</div>
						</div>

						<div class="d-flex flex-column mb-10">
							<ng-container *ngIf="!loading">
								<ng-container *ngIf="!errorMsmServerGetCategory">
									<small class="text-muted fs-8"> Creación: {{ category.createdAt | date: 'medium' }} </small>
									<small class="text-muted fs-8"> Actualización: {{ category.updatedAt | date: 'medium' }} </small>
									<small class="text-muted fs-8">
										Estado:
										<ng-container *ngIf="category.statusAt">
											{{ category.statusAt | date: 'medium' }}
										</ng-container>
										<ng-container *ngIf="!category.statusAt"> --- </ng-container>
									</small>
								</ng-container>
							</ng-container>
							<ng-container *ngIf="loading">
								<div class="d-flex flex-column gap-2">
									<div class="form-control-solid form-control-load" style="width: 200px; height: 10px"></div>
									<div class="form-control-solid form-control-load" style="width: 200px; height: 10px"></div>
									<div class="form-control-solid form-control-load" style="width: 200px; height: 10px"></div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal-delete
	[id]="'modalMultipleActive'"
	[title]="'Activación Multiple'"
	[description]="'El estado de las subcategorias serán actualizadas. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Activar'"
	(actionConfirmed)="onUpdateStatusMultiple(true)"
	[loadBtnDelete]="loadBtnMultipleStatus"
>
</app-modal-delete>

<app-modal-delete
	[id]="'modalMultipleDisabled'"
	[title]="'Desactivación Multiple'"
	[description]="'El estado de las subcategorias serán actualizadas. Verifica tu selección antes de continuar, ya que este cambio se aplicará a todos.'"
	[textButton]="'Desactivar'"
	(actionConfirmed)="onUpdateStatusMultiple(false)"
	[loadBtnDelete]="loadBtnMultipleStatus"
>
</app-modal-delete>