.variation-table {
	border: 1px solid #e4e6ef;
}

.variation-table thead th {
	background: #f9f9f9;

	color: #7e8299;

	font-size: 10px;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 0.5px;

	padding: 10px 14px;
}

.variation-table tbody td {
	padding: 5px 14px;
	vertical-align: middle;
}

.variation-table tbody tr:hover {
	background: #fafbfc;
}

.variation-name {
	font-size: 12px;
	font-weight: 600;
	color: #181c32;
}

.action-column {
	width: 50px;
}

@media (max-width: 576px) {
	.variation-table thead th,
	.variation-table tbody td {
		padding: 8px 10px;
	}

	.variation-name {
		font-size: 11px;
	}
}

.btn-refresh {
	width: 36px !important;
	height: 36px !important;
	border: 1px dashed #ccc !important;
	border-radius: 0.475rem !important;
}

.btn-refresh i {
	padding-right: 0px !important;
}

.btn-light-danger {
	background-color: #ffeef3 !important;
}
.p-none {
	padding: 0px !important;
}

.form-control-invisible {
	border: 0px !important;
}
