<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
	<app-topbar></app-topbar>
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
		<app-sidebar></app-sidebar>
		<div class="app-main flex-column flex-row-fluid">
			<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
					<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
						<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
							<h1 class="page-heading d-flex text-gray-700 fs-3 flex justify-content-start my-0 align-items-center text-uppercase ls-1px fw-700">
								Categorías

								<span *ngIf="!isCategoryLoading && !categoryLoadError && category?.name">
									&nbsp; | &nbsp;{{ category.name }}
								</span>

								<div
									*ngIf="isCategoryLoading"
									class="skeleton skeleton-text"
									style="width: 120px; height: 15px; margin-left: .9rem !important">
								</div>
							</h1>

							<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
								<li class="breadcrumb-item text-muted">
									<a [routerLink]="['/products/categories']" class="text-muted text-hover-primary">
										Categorías
									</a>
								</li>
								<li class="breadcrumb-item">
									<span class="bullet bg-gray-400 w-5px h-2px"></span>
								</li>
								<li class="breadcrumb-item text-primary">Productos por categoría</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="app-content flex-column-fluid">
					<div class="app-container container-fluid">

						<div class="row g-3 g-lg-4">
							<div class="col-12">
								<div class="d-flex justify-content-between align-items-center flex-nowrap gap-2 mt-5">
									<div class="d-flex gap-5">
										<div>
											<div class="d-flex align-items-center gap-2">
												
												<!-- Input Search -->
												<div class="position-relative">
													<input
														type="text"
														class="form-control form-control-sm w-300px pe-10"
														placeholder="Buscar producto"
														name="filter"
														[(ngModel)]="filter"
														(keyup.enter)="applyFilters()"
													/>

													<i
														class="bi bi-search position-absolute cursor-pointer"
														style="right: 15px; top: 50%; transform: translateY(-50%)"
														(click)="applyFilters()"
													></i>
												</div>

												<button
													type="button"
													class="btn btn-sm btn-icon btn-light-primary d-flex align-items-center justify-content-center"
													(click)="resetFilters()"
													[disabled]="isProductsLoading"
												>
													<span
														*ngIf="isProductsLoading"
														class="spinner-border spinner-border-sm"
														role="status"
														aria-hidden="true"
													></span>
													<i
														*ngIf="!isProductsLoading"
														class="bi bi-arrow-clockwise fs-5"
													></i>
												</button>
											</div>
										</div>
									</div>
									<div class="d-flex gap-3">
										
										<button
											
											class="btn btn-light-primary btn-sm d-flex align-items-center gap-2 my-1"
											type="button"
											data-bs-toggle="modal"
											[attr.data-bs-target]="'#modalMove'"
											[disabled]="!hasSelectedProducts()"
										>
											<ion-icon name="folder-outline"></ion-icon>
											Mover productos
										</button>
										<div class="dropdown">
											<button
												disabled
												class="btn btn-dark btn-sm d-flex align-items-center gap-2 my-1"
												type="button"
												id="dropdownMenuButton"
												data-bs-toggle="dropdown"
												aria-expanded="false"
											>
												<ion-icon name="settings-outline" class="fs-5"></ion-icon>
												<span>Opciones</span>
												<ion-icon name="chevron-down-outline" class="fs-6"></ion-icon>
											</button>
											<ul class="dropdown-menu menu-state-bg-light-primary" aria-labelledby="dropdownMenuButton">
												<li>
													<a
														class="dropdown-item cursor-pointer d-flex align-items-center gap-2"
														data-bs-toggle="modal"
														[attr.data-bs-target]="'#modalMove'"
													>
														<ion-icon name="folder-outline" class="text-primary"></ion-icon>
														Mover productos
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="my-7">
									<div class="filters-container">
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ESTADO</span>
												</div>
												<ng-select
													[items]="statusFilters"
													bindLabel="name"
													bindValue="value"
													name="selectedStatus"
													[(ngModel)]="selectedStatus"
													placeholder="Estado"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-10px w-10px" [ngClass]="'bg-' + item.color"></span>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-10px w-10px" [ngClass]="'bg-' + item.color"></span>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">ORDEN</span>
												</div>
												<ng-select
													[items]="sortFilters"
													bindLabel="name"
													bindValue="value"
													name="selectedSort"
													[(ngModel)]="selectedSort"
													placeholder="Orden"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm select-l70px mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<ion-icon [name]="item.icon"></ion-icon>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<ion-icon [name]="item.icon"></ion-icon>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="filter-item">
											<app-menu-select-subcategories 
											(applySubcategories)="onSubcategoriesChange($event)"
											[selectedSubcategories]="selectedSubcategoryIds"
											[title]="'Subcategorías'"
											[placeholder]="'Filtrar por subcategoría'"
											[sizeClass]="'sm'"
											[categoryId]="id">
											</app-menu-select-subcategories>
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">CALIDAD</span>
												</div>
												<ng-select
													[items]="qualityFilters"
													bindLabel="name"
													bindValue="value"
													name="selectedQuality"
													[(ngModel)]="selectedQuality"
													placeholder="Calidad"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-label-sm mb-1"
													appendTo="body"
													[searchable]="false"
												>
													<!-- Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
															<span class="select-option">{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="d-flex align-items-center gap-2">
															<span class="bullet bullet-dot h-8px w-8px" [ngClass]="'bg-' + item.color"></span>
															<span class="select-option">{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">PRECIOS</span>
												</div>
												<div class="d-flex gap-5">
													<app-input-dialer
													[value]="minPrice"
													(valueChange)="onMinPriceChange($event)"
													placeholder="Mín"
													[step]="5">
													</app-input-dialer>

													<app-input-dialer
													[value]="maxPrice"
													(valueChange)="onMaxPriceChange($event)"
													placeholder="Máx"
													[step]="5">
													</app-input-dialer>
												</div>
											</div>
											
										</div>
										<div class="filter-item">
											<div class="d-flex flex-column mb-1 gap-1">
												<div class="d-flex align-items-center">
													<span class="text-gray-700 ls-1px" style="font-size: .7rem;">VISIBILIDAD</span>
												</div>
												<ng-select
													[items]="visibilityFilters"
													bindLabel="name"
													bindValue="value"
													name="selectedVisibility"
													[(ngModel)]="selectedVisibility"
													placeholder="Visibilidad"
													[clearable]="false"
													[closeOnSelect]="true"
													class="select-element select-element-sm mb-1"
													appendTo="body"
												>
													<!-- 🔹 Opción en el dropdown -->
													<ng-template ng-option-tmp let-item="item">
														<div class="option-item d-flex gap-3 align-items-center">
															<div class="d-flex align-items-center" [class]="item.class" [innerHTML]="item.icon" style="color: #9da1bc;font-size: 1.2rem;"></div>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>

													<!-- 🔹 Opción seleccionada en el input -->
													<ng-template ng-label-tmp let-item="item">
														<div class="selected-item d-flex gap-3 align-items-center">
															<div class="d-flex align-items-center" [class]="item.class" [innerHTML]="item.icon" style="color: #9da1bc;font-size: 1.2rem;"></div>
															<span>{{ item.name }}</span>
														</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
									</div>
									<button
										class="btn btn-xs bg-light-primary my-3 d-inline-flex align-items-center gap-2"
										(click)="applyFilters()"
										[disabled]="isProductsLoading"
									>
										<ng-container *ngIf="!isProductsLoading; else loadingTpl">
											<ion-icon name="search-outline" class="fs-6 text-primary"></ion-icon>
											<span class="text-primary">Buscar</span>
										</ng-container>

										<ng-template #loadingTpl>
											<span class="spinner-border spinner-border-sm text-primary" aria-hidden="true"></span>
											<span class="text-primary">Buscando...</span>
										</ng-template>
									</button>
								</div>

								<div class="table-wrapper mb-7">
									<table class="table custom-table align-middle mb-0">
										<thead>
											<tr>
												<th class="fixed-xs text-center p-0">
													<label class="form-check form-check-customs form-check-sm m-0 d-flex align-items-center justify-content-center h-100">
													<input
														class="form-check-input cursor-pointer"
														type="checkbox"
														disabled
													/>
													</label>
												</th>
												<th class="fixed-column min-w-250px">
													Producto
												</th>
												<th class="fixed-sm">
													Calidad
												</th>
												<th class="fixed-md">
													Precio
												</th>
												<th class="fixed-md">
													Marca
												</th>
												<th class="fixed-md">
													Subcategorìa
												</th>
												<th class="fixed-sm">
													Stock
												</th>
												<th class="fixed-sm">
													Estado
												</th>
												<th class="fixed-xs text-center text-center">
													
												</th>
											</tr>
										</thead>
										<tbody>
											@if (isProductsLoading) {
												<tr *ngFor="let item of [1,2,3,4,5,6]">
													<td class="fixed-xs text-center p-0">
														<div class="skeleton skeleton-check"></div>
													</td>
													<td class="flex-column fw-medium">
														<div class="d-flex align-items-center gap-4">
															<div class="skeleton" style="max-width:33.67px !important; height:33.67px;min-width:33.67px !important"></div>

															<div class="d-flex flex-column gap-2" style="width:100%; max-width:250px">
																<div class="skeleton skeleton-text" style="width:60%;"></div>
																<div class="skeleton skeleton-text" style="width:40%;"></div>
															</div>
														</div>
													</td>
													<td class="fixed-sm">
														<div class="skeleton skeleton-text" style="width:60%;"></div>
													</td>
													<td class="fixed-md">
														<div class="skeleton skeleton-text" style="width:60%;"></div>
													</td>
													<td class="fixed-md">
														<div class="d-flex align-items-center gap-4">
															<div class="skeleton" style="max-width:25px !important; height:25px;min-width:25px !important"></div>

															<div class="d-flex flex-column gap-2" style="width:100%; max-width:250px">
																<div class="skeleton skeleton-text" style="width:60%;"></div>
															</div>
														</div>
													</td>
													<td class="fixed-md">
														<div class="d-flex flex-column gap-2" style="width:100%; max-width:250px">
															<div class="skeleton skeleton-text" style="width:60%;"></div>
															<div class="skeleton skeleton-text" style="width:40%;"></div>
														</div>
													</td>
													<td class="fixed-sm">
														<div class="skeleton skeleton-text" style="width:60%;"></div>
													</td>
													<td class="fixed-sm">
														<div class="skeleton skeleton-badge"></div>
													</td>
													<td class="fixed-xs text-center p-0">
														<div class="skeleton skeleton-btn"></div>
													</td>
												</tr>
											}@else if (productsLoadError) {
												<tr>
													<td colspan="6">
														<app-not-found [error]="productsLoadError"></app-not-found>
													</td>
												</tr>
											}@else if (products.length >= 1) {
												<tr *ngFor="let item of products">
													<td class="fixed-xs text-center p-0">
														<label class="form-check form-check-customs form-check-sm m-0 d-flex align-items-center justify-content-center h-100">
														<input
															class="form-check-input cursor-pointer"
															type="checkbox"
															[checked]="selectedProductsIds.has(item.id!)"
															(change)="onProductSelectionChange(item.id!, $event)"
														/>
														</label>
													</td>
													<td class="flex-column fw-medium">
														<div class="d-flex align-items-center gap-4" style="min-width:0;">		
															<div>
																<div class="symbol" style="height: 35px !important; width: 35px !important; border: 1px dashed #e3e3e3">
																	<img [src]="item.cover" 
																	class="h-100 w-100" 
																	style="object-fit: cover;" 
																	fallbackImage/>
																</div>
															</div>
															<div class="d-flex flex-column" style="min-width:0;">
																<a class="text-gray-700 fs-8 fw-500 text-truncate-1">
																	{{ item.name }}
																</a>

																<small class="text-primary fw-400 text-truncate-1 fs-8">
																	<span class="text-gray-600">SKU: </span>
																	<span class="text-primary">5FDS65E9W98WE9</span>
																</small>
															</div>
														</div>
													</td>
													<td class="fixed-sm">
														<div class="d-flex align-items-center">
															<span
																class="d-inline-block rounded-circle me-2"
																style="width: 8px; height: 8px"
																[ngClass]="{
																	'bg-danger': item.quality_label == 'low',
																	'bg-warning': item.quality_label == 'medium',
																	'bg-success': item.quality_label == 'high'
																}">
															</span>

															<span class="text-gray-700 fs-8 fw-500 text-truncate-1">
																{{ qualityLabels[item.quality_label!] }}
															</span>
														</div>
													</td>
													<td class="fixed-md">
														<div class="d-flex gap-2 align-items-center">
															<span class="fs-7 fw-500 text-truncate-1"
																[ngClass]="{
																	'text-danger': item.priceDiscount > 0,
																	'text-gray-700': !(item.priceDiscount > 0)
																}">
																{{ 'PE' | currencySymbol }}
																{{ (item.priceDiscount > 0 ? item.priceDiscount : item.priceRegular) | number:'1.2-2' }}
															</span>

															@if (item.priceDiscount > 0) {
																<span class="text-decoration-line-through text-muted fs-9">
																	{{ 'PE' | currencySymbol }}
																	{{ item.priceRegular | number:'1.2-2' }}
																</span>
															}
														</div>
													</td>
													<td class="fixed-md">
														<div class="d-flex align-items-center gap-2">
															<div class="symbol me-2" 
																style="height:25px; width:25px; border:1px dashed #e3e3e3; flex-shrink:0;">
																<img [src]="item.brand.logoUrl" 
																class="h-100 w-100"  
																fallbackImage/>
															</div>
															<span class="text-gray-700 fs-8 fw-600">
																{{ item.brand.name }}
															</span>
														</div>
													</td>
													<td class="fixed-md">
														<div class="d-flex flex-column">
															<a class="text-gray-600 fw-400 fs-8 text-truncate-1">
																{{ item.subcategory.name }}
															</a>
															<span class="text-gray-700 fs-8 fw-500 text-truncate-1">
																{{ item.subcategory.prefix}}-{{ item.subcategory.code | padCode : 6}}
															</span>
														</div>
													</td>
													<td class="fixed-sm">
														<span class="text-gray-700 fs-8 fw-500 text-truncate-1">
															0
														</span>
													</td>
													<td class="fixed-sm">
														<span class="badge rounded-pill text-gray-700 fw-800"
															[ngClass]="{ 'bg-outline-warning': item.status == 'draft', 'bg-outline-success': item.status == 'published' }">
															<span class="d-inline-block rounded-circle me-1"
																	style="width: 8px; height: 8px"
																	[ngClass]="{ 'bg-warning': item.status == 'draft', 'bg-success': item.status == 'published' }"></span>
																{{ item.status == 'published' ? 'Publicado' : 'Borrador' }}
														</span>
													</td>
													<td class="fixed-xs text-center p-0">
														<div class="dropdown">
															<button 
																disabled
																class="icon-btn btn-action dropdown-toggle d-flex align-items-center justify-content-center mx-auto"
																data-bs-toggle="dropdown">
																<i class="bi bi-three-dots"></i>
															</button>
															<div class="dropdown-menu menu-state-bg-light-primary" data-bs-display="static">
															
															</div>
														</div>
													</td>
												</tr>
											}@else {
												<tr>
													<td colspan="6">
														<app-not-found [error]="{ message: 'No se encontraron registros.', statusCode: 404 }"></app-not-found>
													</td>
												</tr>
											}
										</tbody>

									</table>

								</div>

								<div class="d-flex justify-content-between pb-10" *ngIf="products.length >= 1">
									<div class="d-flex align-items-center gap-2 text-gray-600 fs-8 text-uppercase ls-1px">
										Ver
										<select class="form-select form-select-sm w-auto" name="limit" [(ngModel)]="limit" (change)="setLimit()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="25">25</option>
										</select>
										Por pagina
									</div>
									<div class="d-flex align-items-center gap-3">
										<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"> </app-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalMove" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered mw-650px">
		<div class="modal-content rounded">
			
			<div class="modal-header pb-0 border-0 justify-content-end">
				<span class="svg-icon svg-icon-muted svg-icon-1 cursor-pointer" data-bs-dismiss="modal">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
						<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
							transform="rotate(-45 6 17.3137)" fill="currentColor" />
						<rect x="7.41422" y="6" width="16" height="2" rx="1"
							transform="rotate(45 7.41422 6)" fill="currentColor" />
					</svg>
				</span>
			</div>

			<div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15 h-modal">
				<form class="form">
					<div class="text-center">
						<h1 class="mb-3">Mover Productos</h1>
						<div class="text-gray-600 mt-1 fw-400 fs-0-9rem">
							Organiza los productos seleccionados asignándolos a una nueva categoría o subcategoría.
						</div>
					</div>
					
					<div class="d-flex justify-content-end">
						<button
							type="button"
							class="btn btn-sm btn-light-primary my-5"
							(click)="!isCategoriesLoading ? initCategories() : null"
							[disabled]="isCategoriesLoading"
						>
							<ng-container *ngIf="!isCategoriesLoading">
								<i class="bi bi-arrow-clockwise me-1"></i>
								Refrescar
							</ng-container>
							<ng-container *ngIf="isCategoriesLoading">
								<span
									class="spinner-border spinner-border-sm me-2"
									aria-hidden="true"
								></span>
								<span role="status">
									Procesando...
								</span>
							</ng-container>
						</button>
					</div>

					<div class="accordion-container mb-5" style="margin-right: 0px !important;">
						<div class="category-accordion-container min-h-card">
							@if(isCategoriesLoading){
								<div class="category-card" *ngFor="let category of [1,2,3,4,5,6]; let i = index">
									<div class="category-header" style="background-color: white !important;">
										<div class="d-flex align-items-center gap-3 min-w-0">
											<div class="skeleton skeleton-text" style="width: 30px !important;height: 30px;border-radius:12px;"></div>
											<div class="d-flex align-items-center">
												<div class="d-flex flex-column min-w-0 me-3 gap-2" style="width: 200px;">
													<div class="skeleton skeleton-text" style="width: 60% !important;"></div>
													<div class="skeleton skeleton-text" style="width: 40% !important;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							}@else if (categoriesLoadError) {
								<app-not-found [error]="categoriesLoadError"></app-not-found>
							}@else if (categories.length >= 1) {
								<div class="category-card" *ngFor="let category of categories; let i = index">
									<div class="category-header" (click)="category.subcategories.length >= 1 ? toggleCategory(i) : null">
										<div class="d-flex align-items-center gap-3 min-w-0">
											<div class="category-icon">
												<ng-container *ngIf="category.icon">
													<div class="symbol">
														<span
														class="symbol-label fw-bold"
														style="height:30px; width:30px; border:1px dashed #e3e3e3"
														[innerHTML]="category.safeIcon">
														</span>
													</div>
												</ng-container>
												<ng-container *ngIf="!category.icon">
													<ion-icon name="folder-outline" class="fs-5 text-primary"></ion-icon>
												</ng-container>
											</div>
											<div class="d-flex align-items-center">
												<div class="d-flex flex-column min-w-0 me-5">
													<span class="category-name text-truncate text-gray-700">{{ category.name }}</span>
												</div>
											</div>
										</div>
										<div *ngIf="category.subcategories.length >= 1" class="category-arrow active" [class.active]="expandedCategoryIndex === i">
											<ion-icon name="chevron-down-outline" class="text-primary"></ion-icon>
										</div>
									</div>
									<div class="subcategory-container" [class.open]="expandedCategoryIndex === i">
										<div>
											<div
												class="subcategory-item"
												*ngFor="let subcategory of category.subcategories"
											>
												<div class="d-flex align-items-center gap-3">
													<div class="subcategory-tree-icon">
														<ion-icon
															name="return-down-forward-outline"
														></ion-icon>
													</div>
													<div class="d-flex gap-3 align-items-center">
														<span class="subcategory-name text-gray-700 fs-8 fw-400">
															{{ subcategory.name }}
														</span>
													</div>
												</div>
												<span class="btn btn-dark btn-sm d-flex align-items-center gap-2"
													style="border: 1px solid #f0f0f0;padding: 5px 10px;"
													(click)="moveSelectedProductsTo(category, subcategory)">
													<ng-container *ngIf="isMovingProducts && movingToSubcategoryId == subcategory.id; else defaultTpl">
														<span class="spinner-border spinner-border-sm"
															role="status"
															aria-hidden="true"
															style="width:14px;height:14px;border-width:2px;">
														</span>
														<span class="fs-8">Moviendo</span>
													</ng-container>
													<ng-template #defaultTpl>
														<ion-icon name="arrow-redo-outline"></ion-icon>
														<span class="fs-8">Mover</span>
													</ng-template>
												</span>
											</div>
										</div>
									</div>
								</div>
							}@else {
								<app-not-found [error]="{ message: 'No se encontraron registros.', statusCode: 404 }"></app-not-found>
							}
						</div>
					</div>

					<div class="text-center" style="line-height: 1.25;">
						<small class="text-muted">El cambio de categoría o subcategoría actualizará automáticamente el estado de los productos a borrador, permitiendo validar atributos, información y configuración según la nueva estructura del catálogo.</small>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>