<div class="d-flex flex-column flex-column-fluid flex-center p-10 w-100" style="height: 100vh !important;">         
    <div class="d-flex justify-content-between flex-column-fluid flex-column w-100 mw-450px">
        <div class="d-flex justify-content-center py-2">
            <div class="m-0">
                <img src="images/logos/logo-color.png" alt="" style="width: 180px;">    
            </div>                      
        </div>          
        <div class="py-20">
            <div class="card-body">
                <div class="text-center mb-10">
                    <h1 class="text-gray-900 mb-3 fs-3x" data-kt-translate="sign-in-title">
                        Iniciar Sesión
                    </h1>
                    <div class="text-gray-500 fw-semibold fs-6" data-kt-translate="general-desc">
                        Panel Administrador de Tienda en Linea
                    </div>
                </div>
                <div class="fv-row mb-8 fv-plugins-icon-container">
                    <div class="position-relative pb-8px">
                        <input type="text" 
                        placeholder="Correo eletrónico" 
                        name="email" 
                        autocomplete="off"  
                        class="form-control"
                        [name]="'email'"
                        [(ngModel)]="auth.email"
                        [ngClass]="{'is-invalid': errorsLogin?.email}"
                        (keyup.ENTER)="login()"> 
                        <div class="invalid-feedback" *ngIf="errorsLogin.email">
                            {{errorsLogin.email[0] || ' '}}
                        </div>
                    </div>
                </div>
                <div class="fv-row mb-8 fv-plugins-icon-container">   
                    <div class="position-relative pb-8px">
                        <input type="password"
                        placeholder="Contraseña" 
                        name="password" 
                        autocomplete="off" 
                        class="form-control"
                        [name]="'password'"
                        [(ngModel)]="auth.password"
                        [ngClass]="{'is-invalid': errorsLogin?.password}"
                        (keyup.ENTER)="login()">
                         <div class="invalid-feedback" *ngIf="errorsLogin.password">
                            {{errorsLogin.password[0] || ' '}}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-wrap gap-3 fs-base fw-semibold mb-10">
                    <div></div>
                    <a class="link-primary">
                        Olvidaste tu contraseña ?
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary me-2 flex-shrink-0" (click)="login()" *ngIf="!loading">
                        Iniciar Sesión
                    </button>
                    <button *ngIf="loading" class="btn btn-primary me-2 flex-shrink-0" type="button" disabled>
                        <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
                        <span role="status">Procesando...</span>
                    </button>
                </div>
            </div> 
        </div>         
        <div class="m-0">        
        </div>
    </div>   
</div>
