.category-accordion-container {
	display: flex;
	flex-direction: column;
	box-shadow:
		0 1px 2px rgba(15, 23, 42, 0.03),
		0 4px 10px rgba(15, 23, 42, 0.02);
}

.h-48px {
	height: 48px !important;
}

.category-card {
	border: 1px solid #edf1f5;
	border-bottom: none;
	background: #fff;
	transition:
		background 0.2s ease,
		border-color 0.2s ease;
}
.category-card:last-child {
	border-bottom: 1px solid #edf1f5 !important;
}

.category-card:hover {
	border-color: #dbe4ee;
	box-shadow: 0 4px 10px rgba(15, 23, 42, 0.04);
}

.category-header {
	/***/
	padding: 10px;
	display: flex;
	height: 57px !important;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background: #f1f5f9;
}

/* =====================================================
   ICON
===================================================== */

.category-icon {
	width: 30px;
	height: 30px;
	border-radius: 12px;
	background: #ffffff;
	border: 1px solid #e2e8f0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #64748b;
	font-size: 20px;
	flex-shrink: 0;
}

/* =====================================================
   NAME
===================================================== */

.category-name {
	font-size: 1rem;
	font-weight: 500 !important;
	color: #1e293b;
}

/* =====================================================
   ARROW
===================================================== */

.category-arrow {
	width: 34px;
	height: 34px;
	border-radius: 10px;
	background: #f8fafc;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #64748b;
	font-size: 16px;
}

.category-arrow.active {
	transform: rotate(180deg);
	background: #eef6ff;
	color: #0d6efd;
}

/* =====================================================
   SUBCATEGORY CONTAINER
===================================================== */

.subcategory-container {
	display: none;
}

.subcategory-container.open {
	display: block;
}

.cdk-drop-list-dragging .subcategory-item {
	transition: none !important;
}

.cdk-drag-preview {
	will-change: transform;
	transform: translateZ(0);
	pointer-events: none;
	background: rgba(255, 255, 255, 0.82);
	backdrop-filter: blur(3px);
}

.subcategory-item {
	will-change: transform;
	transform: translateZ(0);
	height: 46px !important;
}

/* =====================================================
   SUBCATEGORY ITEM
===================================================== */

.subcategory-item {
	padding: 10px;
	padding-left: 30px;
	padding-right: 17px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-top: 1px solid #f5f7fa;
}

.subcategory-item:hover {
	background: #f8fafc;
}

/* =====================================================
   SUBCATEGORY ICON
===================================================== */

.subcategory-icon {
	width: 34px;
	height: 34px;
	border-radius: 10px;
	background: #f8fafc;
	border: 1px solid #e2e8f0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #64748b;
	font-size: 15px;
}

/* =====================================================
   SUBCATEGORY NAME
===================================================== */

.subcategory-name {
	font-weight: 500;
}

.subcategory-arrow {
	color: #94a3b8;
	font-size: 16px;
}

.subcategory-branch {
	width: 18px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.branch-line {
	width: 12px;
	height: 1.5px;
	background: #cbd5e1;
	border-radius: 999px;
	position: relative;
}

/* VERTICAL */

.branch-line::before {
	content: '';
	position: absolute;
	left: 0;
	top: -14px;
	width: 1.5px;
	height: 15px;
	background: #cbd5e1;
	border-radius: 999px;
}

.subcategory-item:first-child {
	border-top: none;
}

.badge-count {
	background: #f1f5f9;
	padding: 2px 10px;
	font-size: 7px;
	border: 1px solid #e2e8f0;
	border-radius: 999px;
}

.cdk-drag-preview {
	background: #fff;
	box-shadow:
		0 10px 25px rgba(0, 0, 0, 0.12),
		0 2px 8px rgba(0, 0, 0, 0.08);
	border: 1px solid #edf1f5;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.65);
}
.category-drop-zone {
	min-height: 57px;
	background: #fff;
	transition:
		background 0.15s ease,
		border-color 0.15s ease;
}
/* .category-drop-zone.drag-over{
	background: rgba(13,110,253,.03);
	border: 1px dashed #0d6efd;
} */

.category-drop-zone.drag-over .category-header {
	background-color: #0d6efd !important;
}

.category-drop-zone.drag-over .category-header div .d-flex * {
	color: white !important;
}

.category-card {
	position: relative;
}

.subcategory-container {
	display: block !important;
	overflow: visible !important;
	max-height: unset !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	background-color: #fff !important;
}

.loader {
	padding-right: 10px;
}

.drag-disabled {
	cursor: not-allowed !important;
}

.drag-disabled * {
	cursor: not-allowed !important;
}

.drag-disabled .drag-handle,
.drag-disabled .drag-handle * {
	cursor: not-allowed !important;
}

.btn-move {
	border-radius: 50% !important;
	padding: 5px;
}
