<div class="modal fade" id="modal-exit" tabindex="-1" aria-labelledby="modalExitTitle" aria-describedby="modalExitDescription" aria-hidden="true" style="display: none">
	<div class="modal-dialog modal-dialog-centered app-modal-dialog">
		<div class="modal-content app-modal-content">
			<div class="modal-header app-modal-header">
				<h2 id="modalExitTitle" class="app-modal-title">¿Salir sin guardar?</h2>
				<button type="button" class="btn-close app-modal-close" data-bs-dismiss="modal" (click)="cancelExit()" aria-label="Cerrar"></button>
			</div>
			<div class="modal-body app-modal-body">
				<p id="modalExitDescription" class="app-modal-description">
					<b>Tienes cambios pendientes</b>
					. Si abandonas esta página perderás la información no guardada.
				</p>
			</div>
			<div class="modal-footer app-modal-footer">
				<button type="button" class="btn btn-sm btn-light-dark app-modal-button" (click)="cancelExit()">Permanecer</button>
				<button type="button" class="btn btn-sm btn-dark app-modal-button" (click)="confirmExit()">Salir</button>
			</div>
		</div>
	</div>
</div>
